%span#contact-anchor.anchor
.row.contact
  .content.small-10.small-offset-1
    %h2.text-center= t(".title")

  .small-12.small-offset-0.large-6.large-offset-3.column.end
    #contact-notice-placeholder
    = render "shared/contact/form", contact: @contact, url: consul_contacts_path, remote: true
