.page.boatjump
  .img-background.row
    .cont-introduction.medium-12.small-12.large-6
      %h1 Servicios <strong>Consul</strong>
      %span Software libre para la participación ciudadana
      %hr
      %p CONSUL es la herramienta de participación ciudadana más completa para un <strong>gobierno abierto, transparente y democrático.</strong>
      %hr
      = link_to 'www.consulproject.org', 'http://consulproject.org/es/',  target: :blank
  .brand-design.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %div.text-center
        = inline_svg "svg/consul-logo.svg"
      %p.text-center
        En Rock&Ror hemos colaborado en la implementación de funcionalides para Consul. Estamos totalmente alineados en cuanto a buenas prácticas y filosofía de desarrollo con el equipo técnico que ha desarrollado Consul. Estamos convencidos de que somos la empresa perfecta para poder realizar cualquier tarea de implantación y mantenimiento de esta herramienta dado el conocimiento que tenemos de la misma.
  .back-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Servicios que ofrecemos</strong>
      %hr
      %p En función a las peticiones que hemos recibido de diferentes Ayuntamientos hemos detectado los diferentes módulos que se pueden necesitar relacionados con la herramienta.
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li <strong>Módulo 1:</strong> Preparación del entorno de servidores necesarios para instalar la aplicación
            %li <strong>Módulo 2:</strong> Configuración de herramientas de monitorización de errores, integración continua e instalación de la aplicación
            %li <strong>Módulo 3:</strong> Adaptación de Consul a su Ayuntamiento (Integración con servicios del censo y adaptación de la imágen corporativa)
            %li <strong>Módulo 4:</strong> Necesidad de personalizar procesos por parte del Ayuntamiento (Análisis, implementación y documentación)
            %li <strong>Módulo 5:</strong> Mantenimiento y actualización del repositorio con las últimas modificaciones en Consul

  .front-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center  <strong>Desglose de los servicios</strong>
      .medium-12
        %hr
        .small-center.medium-centered.columns
          %p Vamos a desglosar los diferentes modulos y alcance de cada uno de ellos que ofrecemos a nuestros clientes.
      %h3.text-center <strong>Módulo 1: Preparación de servidores</strong>
      %p Si el Ayuntamiento dispone de un departamento de informática capaz de resolver los siguientes puntos no será necesaria la contratación de este módulo.
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li Preparación de los servidores Linux
            %li Gestión de dominios
            %li Gestión de redirecciones
            %li Gestión del sevidor de email
            %li Actualizaciones periodicas y de seguridad de los Sistemas Operativos / Servidores
            %li Instalación y mantenimiento del Sistema gestor de Base de Datos
            %li Gestión y monitorización del sistema de copias de seguridad
      %p En caso de no disponer de un equipo que de soporte a estos requerimientos el precio de este módulo son: 1000€

      %hr
      %h3.text-center <strong>Módulo 2: Configuración e Instalación</strong>
      %p Este módulo es indispensable para cualquier Ayuntamiento que aún no disponga de la aplicación de Consul y pretenda implantarla.
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li Configuración Integración Continua "Travis"
            %li Gestión y monitorización de errores "Rollbar"
            %li Configurar Capistrano
            %li Instalación de la aplicación
      %hr
      %h3.text-center <strong>Módulo 3: Adaptación e Integración</strong>
      %p Con este módulo se pretende cambiar los estilos, logos y colores de la aplicación para darle un toque distintivo para cada ayuntamiento. También se incluye la integración con el Censo para poder aprovechar al máximo la aplicación.
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li Adaptación de la imágen corporativa
            %li Integración con servicios del censo
      %hr
      %h3.text-center <strong>Módulo 4: Personalización de procesos</strong>
      %p En caso de necesitar personalizaciones de funcionalidades ya existentes en consul o pequeños cambios que se pueden requerir sobre la versión de Consul, ofrecemos un paquete de 60 horas donde se incluye:
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li Análisis de la necesidad del Ayuntamiento con la necesidad de personalizar alguna parte de la aplicación.
            %li Implementación de los cambios analizados
            %li Documentación adicional de las customizaciones.
      %p * Al desconocer las nuevas funcionalidades que puede querer el cliente hemos dimensionado lo que creemos suficiente para hacer customizaciones en 1 o 2 procesos. Por ejemplo "propuestas ciudadanas" y "debates". En este ejemplo hemos puesto 64h entre desarrollo, analisis y documentación.
      %hr
      %h3.text-center <strong>Módulo 5: Mantenimiento</strong>
      %p Para cualquier Ayuntamiento que ya tenga instalado Consul ofrecemos un servicio mensual de actualización.
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li Servicio de actualización de la plataforma en base a las versiones de consul que vayan saliendo.
            %li Formación y transferencia del conocimiento

  .back-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Calcule su presupuesto</strong>
      %hr
      %p Vaya seleccionando los módulos que necesita su yuntamiento y calcule el precio total
      .row
        .small-12.medium-12.large-12.columns
          %ul.text-center
            %li <strong>Módulo 1:</strong> Preparación del entorno de servidores necesarios para instalar la aplicación
            %li <strong>Módulo 2:</strong> Configuración de herramientas de monitorización de errores, integración continua e instalación de la aplicación
            %li <strong>Módulo 3:</strong> Adaptación de Consul a su Ayuntamiento (Integración con servicios del censo y adaptación de la imágen corporativa)
            %li <strong>Módulo 4:</strong> Necesidad de personalizar procesos por parte del Ayuntamiento (Análisis, implementación y documentación)
            %li <strong>Módulo 5:</strong> Manteni
  = render 'shared/contact_now'
