%section.contactnow
  .row.text-center
    .small-12.columns.text-center
      %h3 ¿Necesita una web o APP?
      %br
      = link_to new_contact_path, class: "large button" do
        Solicita tu
        %strong consultoría gratuita