%section.contactnow
  .row.text-center
    .small-12.columns.text-center
      %h3 ¿Necesita una <strong>web o APP?</strong>
      %span Vamos a empezar con un presupuesto gratuito!
      %p [ Soluciones empresariales / Desarrollo de portales / Integración API / soluciones B2C y B2B ]
      %a.large.button.btn-primary{:href => "#"} Pide tu presupuesto
      