%section.contactnow
  .row.text-center
    .small-12.columns.text-center
      %h3 ¿Necesita una <strong>web o APP?</strong>
      %span Empezemos con una sesión de consultoría gratuita!
      %br
      = link_to "Solicita tu consultoría gratuita", new_contact_path, class: "large button btn-primary"