<div class="page-contact-now col-xs-12">

    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h2><%= contact_now %></h2>
      <br />
      <%= link_to new_contact_path, class: "btn btn-lg" do %>
        Solicita tu
        <br class="visible-xs">
        consultoría
        <br class="visible-xs">
        gratuita
      <% end %>
    </div>

</div>
