%section.contactnow
  .row.text-center
    .small-12.columns.text-center
      %h3 ¿Necesita una <strong>web o APP?</strong>
      %span Vamos a empezar con un presupuesto gratuito!
      %a.large.button.btn-primary{:href => "#"} Pide tu presupuesto
      