<div class='footer'>
  <div class='row text-center'>
    <div class='small-12 medium-6 small-centered columns text-center'>
      <hr>
      Tel: +34 607 320 876 <br>
      C/ Joan Pons i Marques, 14, 07011 <br> Palma de Mallorca, España.<br>
      <a>info@rockandror.com</a>
      <hr>
      <ul class='social'>
        <li class='small-3 medium-3 columns'>
          <a>
          </a>
        </li>
        <li class='small-3 medium-3 columns'>
          <a>
          </a>
        </li>
        <li class='small-3 medium-3 columns'>
          <a>
          </a>
        </li>
        <li class='small-3 medium-3 columns'>
          <a>
          </a>
        </li>
      </ul>
      <p class='text-center'>Utilizamos iconos de <a href="http://www.freepik.com" target="blank">Freepick</a></p>
    </div>
  </div>
</div>
