<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>

<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
  minimum-scale=1.0, user-scalable=no, minimal-ui" name="viewport"/>

<meta name="description"
  content="<%= yield_meta_tag(:description, t('meta.description')) %>" />

<meta name='keywords'
  content="<%= yield_meta_tag(:keywords, t('meta.keywords')) %>" />

<meta content="mXNBRXCqbOYP9B5OIPiHpEDeM8tHM4jEWIjsqsqqlh0"
  name="google-site-verification"/>

<%= favicon_link_tag 'favicon.ico' %>

<title>
  <%= if content_for?(:title) then yield(:title) end %>
  <%#= t('meta.title') %>
</title>
