#nav-modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h3.text-left +34 607.320.876
  %a.close-reveal-modal{"aria-label" => "Close"} ×
  %hr
  .stacked.button-group
    %a.button{:href => new_contact_path} Home
    %hr
    %p Últimos trabajos
    %ul
      %li
        = link_to 'Webdings', '/webdings'
      %li
        = link_to 'Eatbooking', '/eatbooking' 
      %li
        = link_to 'Oasis Catamaran', '/oasiscatamaran'
    %hr
    %a.button{:href => new_contact_path} Envianos una email
    