#nav-modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h3.text-left +34 607.320.876
  %a.close-reveal-modal{"aria-label" => "Close"} ×
  %hr
  .stacked.button-group
    %a.button{:href => "#"} Envianos una email 
    %a.button{:href => "works"} Trabajos
    %a.button{:href => "team"} Equipo
    %a.button{:href => "services"} Servicios
    %a.button{:href => "/"} Home
    