%div.fixed.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.medium-3.columns.title-area
      %a{:href => "#"}
        %li.name
          =image_tag "logo.svg"
          %div
            Rock&Ror
            %span delimit  
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li.active
          %a{:href => "#scroll_to_intro"} Home
        %li
          %a{:href => "#scroll_to_about"} Rock&Ror
        %li
          %a{:href => "#scroll_to_tecnology"} Tecnologías
        %li
          %a{:href => "#scroll_to_howworks"} Como trabajamos  
        %li
          %a{:href => "#scroll_to_portfolio"} Portoflio
        %li
          %a{:href => "#scroll_to_team"} Equipo
        %li
          %a{:href => "#scroll_to_contact"} Contacto