%a.btn-menu{"data-reveal-id" => "nav-modal", :href => "#"}
  = inline_svg "svg/icon-menu.svg" , class: 'icon-menu'
%nav.fixed.top-bar{"data-topbar" => "", :role => "navigation", "data-options" => "sticky_on: small"}
  = inline_svg "svg/logo-center.svg" , class: 'logo-center show-for-small-only'
  %ul.title-area.medium-5.columns.hide-for-small-only
    %li.name.animated-left-right.delay-3
      %a.logo{:href => root_path}
        = inline_svg "svg/logo.svg" 
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right.text-center
      %li
        %strong +34 607.320.876
        %a{:href => new_contact_path} Envíanos un email
    / %ul.left
    /   %li.active.animated-downtop.delay-6
    /     %a{:href => root_path} Home
    /   %li.animated-downtop.delay-7
    /     %a{:href => "team"} Equipo
    /   %li.animated-downtop.delay-8
    /     %a{:href => "services"} Servicios