%nav.fixed.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area.medium-4.columns
    %li.name
      %a.logo{:href => "#"}
        = inline_svg "logo.svg"
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right.text-center
      %li
        %strong +34 607.320.876
        %a{:href => "#"} Envianos una email
    / Left Nav Section
    %ul.left
      %li.active
        %a{:href => "#scroll_to_about"} Home
      %li
        %a{:href => "#scroll_to_about"} Equipo
      %li
        %a{:href => "#scroll_to_about"} Servicios

/ %div.fixed
/   %nav.top-bar{"data-topbar" => "", :role => "navigation"}
/     %ul.medium-4.columns
/       %a{:href => "#scroll_to_intro"}
/         %li.logo
/           = inline_svg "logo.svg"
/           %div
/           / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
/       %li.toggle-topbar.menu-icon
/         %a{:href => "#"}
/           %span

/     %ul.medium-6.columns.inline-list
/       %li
/         %a{:href => "#scroll_to_about"} Rock&Ror
/       %li
/         %a{:href => "#scroll_to_howworks"} Como trabajamos  
/       %li
/         %a{:href => "#scroll_to_portfolio"} Portfolio
/       %li
/         %a{:href => "#scroll_to_team"} Equipo
/       %li
/         %a{:href => "#scroll_to_contact"} Contacto
/     %ul.medium-2.columns
/       %li
/         %strong{:href => "#scroll_to_contact"} +34 607.320.876 
        
