<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>

<nav class="navbar navbar-fixed-top">
  <div class="container navbar-inner">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="fa fa-bars fa-2x"></span>
      </button>
      <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#intro">
        <span class="logo"></span>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-center">
        <li><a href="#scroll_to_intro">Home</a></li>
        <li><a href="#scroll_to_about">Rock&Ror</a></li>
        <li><a href="#scroll_to_tecnology">Tecnologías</a></li>
        <li class="hidden-xs">
          <a class="navbar-brand-primary" href="#scroll_to_intro">  
            <span class="logosvg">
            <%= image_tag 'logo.svg' %>
          </span>
          </a>
        </li>
        <li><a href="#scroll_to_team">Equipo</a></li>
        <li><a href="#scroll_to_portfolio">Portfolio</a></li>
        <li><a href="#scroll_to_contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>