%a.btn-menu{"data-reveal-id" => "nav-modal", :href => "#"}
  = inline_svg "svg/icon-menu.svg" , class: 'icon-menu'
%nav.remove-fixed.top-bar{"data-topbar" => "", :role => "navigation", "data-options" => "sticky_on: small"}
  = inline_svg "svg/logo-center.svg" , class: 'logo-center show-for-small-only'
  %ul.title-area.medium-5.columns.hide-for-small-only
    %li.name.animated-left-right.delay-3
      %a.logo{:href => root_path}
        = inline_svg "svg/logo.svg" 
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right.text-center
      %li
        %strong +34 607.320.876
        %a{:href => new_contact_path} Envíanos un email