<div class="no-landscape gradient-radial  hidden-sm hidden-md hidden-lg text-center">
  <h3 class="text-center">Lo sentimos, para una mejor usabilidad rueta el movil. </h3>
  <span class="logo center-block"></span>
</div>