- if notice.present?
  .alert.alert-success.text-center
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %h4 ¡Acción realizada con éxito!
    = notice
- if alert.present?
  #alert-danger.alert.alert-danger.text-center
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %h4
      ¡Hubo un error! / #{alert}
