- if notice.present?
  .alert-box.success{"aria-live" => "assertive", "data-alert" => "", :role => "alertdialog", :tabindex => "0"}
    = notice
    %button.close{"aria-label" => "Close Alert", :tabindex => "0"} ×
- if alert.present?
  .alert-box.alert{"aria-live" => "assertive", "data-alert" => "", :role => "alertdialog", :tabindex => "0"}
    = alert
    %button.close{"aria-label" => "Close Alert", :tabindex => "0"} ×
