- if notice.present?
  .alert-box.success{"data-alert" => ""}
    %a.close{:href => "#"} &times;
    = notice
- if alert.present?
  .alert-box.alert{"data-alert" => ""}
    %a.close{:href => "#"} &times;
    = alert
