<% if notice.present? %>
  <div class="alert alert-success text-center">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <h4>¡Acción realizada con éxito!</h4>
    <%= notice %>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert alert-danger text-center" id="alert-danger">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <h4>¡Hubo un error!</h4>
    <%= alert %>
  </div>
<% end %>