#share-buttons

  / Facebook
  %a{:href => "http://www.facebook.com/sharer.php?u=https://rockandror.com", :target => "_blank"}
    %img{:alt => "Facebook", :src => "https://rockandror.com/images/somacro/facebook.png"}/
  / Google+
  %a{:href => "https://plus.google.com/share?url=https://rockandror.com", :target => "_blank"}
    %img{:alt => "Google", :src => "https://rockandror.com/images/somacro/google.png"}/
  / LinkedIn
  %a{:href => "http://www.linkedin.com/shareArticle?mini=true&url=https://rockandror.com", :target => "_blank"}
    %img{:alt => "LinkedIn", :src => "https://rockandror.com/images/somacro/linkedin.png"}/
  / Twitter
  %a{:href => "https://twitter.com/share?url=https://rockandror.com&text=Simple%20Share%20Buttons&hashtags=simplesharebuttons", :target => "_blank"}
    %img{:alt => "Twitter", :src => "https://rockandror.com/images/somacro/twitter.png"}/