%section#scroll_to_about.about.pageSection
  .row.text-center
    .small-12.columns
      .row
        =image_tag "logo-section.svg"
      .row
        .small-12.medium-4.columns
          %h3 Sobre Rock&RoR
          %hr
          %p Somos un equipo de desarrollo web entusiastas de las nuevas tecnologías. Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas
        .small-12.medium-4.columns
          %h3 ¿POR QUÉ NOSOTROS?
          %hr
          %p Ofrecemos un enfoque personal y efectivo en cada proyecto que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
        .small-12.medium-4.columns
          %h3 TRANSPARENCIA
          %hr
          %p Ofrecemos a nuestros clientes acceso a: Informes detallados del trabajo del equipo / Código fuente (Github/Bitbucket) / Comunicación directa con el equipo de trabajo / Y recuerda, tú también formas parte del equipo
       