%section.about
  .row
    .small-12.columns
      .row
        %div.logo-mix
      .small-4.columns
        %h2 Sobre Rock&RoR
        Somos un equipo de desarrollo web entusiastas de las nuevas tecnologías. Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas
      .small-4.columns
        %h2 ¿POR QUÉ NOSOTROS?
        Ofrecemos un enfoque personal y efectivo en cada proyecto que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
      .small-4.columns
        %h2 TRANSPARENCIA
        Ofrecemos a nuestros clientes acceso a:  
        Informes detallados del trabajo del equipo
        Código fuente (Github/Bitbucket)
        Comunicación directa con el equipo de trabajo
        Y recuerda, tú también formas parte del equipo
      = link_to "Descarga carta presentacion","#", class: "button"