<section class="about gradient">
  <div class="container">

    <h2>About <span>Rock&Ror</span></h2>
    <div class="col-md-6">
      <div class="circle">
        <div class="guz"></div>
        <div class="seb"></div>
        <div class="sen"></div>
        <div class="ale"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h3>Quien somos</h3>
        We bring an effective and personal approach to every project we work on, which is why YOU will love us and why you will be keep coming back. We pay a lot of attention to code quality, therefore our projects are thoroughly tested.
      </div>
      <div class="row">
        <h3>trasparencia total</h3>
        We are a team of web developers who are passionate about new technologies. Our tailor-made web applications are designed for start-ups as well as big corporations. There are no challenges we cannot handle.
      </div>
      <div class="row">
        <h3>Porque nosotros</h3>
        We are a team of web developers who are passionate about new technologies. Our tailor-made web applications are designed for start-ups as well as big corporations. There are no challenges we cannot handle.
      </div>
    </div>
  </div>
</section>