<section class="about gradient" id="about">
  <div class="container">

    <h2>About <span>Rock&Ror</span></h2>
    <div class="col-md-6">
      <div class="circle">
        <div class="guz" data-toggle="tooltip" data-placement="top" title="Carlos Guzman"></div>
        <div class="seb" data-toggle="tooltip" data-placement="top" title="Sebas Roig"></div>
        <div class="sen" data-toggle="tooltip" data-placement="top" title="Senene Rodero"></div>
        <div class="ale" data-toggle="tooltip" data-placement="top" title="Alessandro Cuoghi"></div>
      <span>Somos un equipo de entusiastas de RubyOnRails y de las nuevas tecnologías web
      </span>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <h3>Rock&Ror</h3>
        Somos un equipo de desarrollo web entusiastas de las nuevas tecnologías. 
        Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas.
      </div>
      <div class="row">
        <h3>¿Por qué nosotros?</h3>
        Ofrecemos un enfoque personal y efectivo en cada proyecto que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
      </div>
      <div class="row">
        <h3>Transparencia</h3>
        Ofrecemos a nuestros clientes acceso a:
        <ul class="list-unstyled">
          <li>Informes detallados del trabajo del equipo</li>
          <li>Código fuente (Github/Bitbucket)</li>
          <li>Comunicación directa con el equipo de trabajo</li>
        </ul>
        <strong>Y recuerda,  tú también formas parte del equipo</strong>
      </div>
    </div>
  </div>
</section>