%section.about
  .row.text-center
    .small-12.columns
      .row.block-text
        %h3 Creamos Web y aplicaciones móviles <strong> Agregando valor a SU NEGOCIO.</strong>
        %a.large.button.btn-primary{:href => "#"} Pide tu presupuesto
