%section#scroll_to_about.about.stripe-3
  .container
    %h2.text-center
      Sobre
      %span Rock&amp;Ror
    %div
      .circle.hidden-xs
        .guz{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Carlos Guzman"}
        .seb{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Sebas Roig"}
        .sen{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Senene Rodero"}
        .ale{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Alessandro Cuoghi"}
        %span Somos un equipo de entusiastas de RubyOnRails y de las nuevas tecnologías web
      .text
        .col-sm-4
          %h3 Rock&amp;Ror
          Somos un equipo de desarrollo web entusiastas de las nuevas tecnologías.
          Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas.
        .col-sm-4
          %h3 ¿Por qué nosotros?
          Ofrecemos un enfoque personal y efectivo en cada proyecto que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
        .col-sm-4
          %h3 Transparencia
          Ofrecemos a nuestros clientes acceso a:
          %br/
          \- Informes detallados del trabajo del equipo
          %br/
          \- Código fuente (Github/Bitbucket)
          %br/
          \- Comunicación directa con el equipo de trabajo
          %br/
          %strong Y recuerda, tú también formas parte del equipo
