%section.agile_developer
  .row
    .medium-6.columns.hide-image-small
      .image
    .small-12.medium-6.columns
      %h2
        Con tal de obtener el mayor valor posible con el mínimo esfuerzo seguimos los principios del <u>desarrollo agile</u>.
      %lead
        analisis - diseño - implementacion - pruebas - aceptacion - lanzamiento
        <br>
        <br>
        Gracias a la búsqueda constante del MVP (Minimum Viable Product), que no es más que identificar la funcionalidad que más valor le da a su propuesta y centrar los esfuerzos y recursos en ponerla en práctica en el menor tiempo posible.
        <br>
        = link_to 'Explícame más', agile_development_path
