<section class="agile_developer">
  <div class="container">
    <div class="col-md-6 col-sm-6 hidden-xs">
      <div class="image"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 columns">
      <h2>
        <%= t'home_page.agile_developer.title_html' %>
      </h2>
      <lead>
        <%= t'home_page.agile_developer.lead_html' %>
        <br>
        <br>
        <%= t'home_page.agile_developer.more_text_html' %>
        <br>
        <%= link_to t('home_page.agile_developer.btn_info'), agile_development_path %>
      </lead>
    </div>
  </div>
</section>
