%section.agile_developer
  .row
    .medium-6.columns.hide-image-small
      .image
    .small-12.medium-6.columns
      %h2
        = t'home_page.agile_developer.title_html'
      %lead
        = t'home_page.agile_developer.lead_html'
        <br>
        <br>
        = t'home_page.agile_developer.more_text_html'
        <br>
        = link_to t('home_page.agile_developer.btn_info'), agile_development_path
