%section.boatjump
  .row.text-center
    .small-12.columns
      .block-text
        .small-12.columns.image.show-for-small-only
        .small-12.medium-6.columns.description
          %h2 <strong>Boat</strong>jump
          %span Backend / Frontend + Responsive
          %small Proyecto cliente
          %p Primera versión de la plataforma tecnológica de alquiler de barcos online de alcance internacional. Este proyecto ha sido seleccionado por el programa de Lanzadera como uno de los proyectos con proyección en la convocatoria del año 2016.           

          %hr.hr-light
          = link_to '+ sobre este proyecto', boatjump_path
          = link_to '> www.boatjump.co.uk', 'http://www.boatjump.co.uk/', target: :blank
          %hr.hr-light
          %small Tecnología: Rails4, PostgreSQL, RSpec, Bootstrap Responsive, jQuery, Sass  
        .medium-6.columns.image.show-for-medium-up