%section.call_to_action
  .row.text-center
    .small-12.columns
      .row.block-text
        %h3 Creamos Web y aplicaciones móviles Agregando valor a Su Negocio.
        %a.large.button.btn-primary{:href => "#"} Pide tu presupuesto