<section class="contactnow">
  <div class="container">
    <h2>Rock your product and trust in ror</h2>
    <h3>As a software house we create and develop for our clients large web applications 
    in Ruby on Rails. In our portfolio we have also own products.
    </h3>
    <a href="#contact" class="btn btn-primary">Contact now</a>
  </div>
</section>