%section.contact
  .bg-contact
  .row
    .medium-6.columns
      %h2
        ¿NECESITA UNA WEB O APP?
      %lead
        Contacta con nosotros para un desarrollo B2B y B2Cinnovadores en web y móvil.
        <br>
        = link_to 'Solicita tu consultoria gratuita', new_contact_path
    .medium-6.columns
