<section class="contact">
  <div class="bg-contact"></div>
  <div class="row">
    <div class="medium-6 columns">
      <h2></h2>
      <%= t'home_page.contact.title_html' %>
      <lead>
        <%= t'home_page.contact.lead_html' %>
        <br>
        <%= link_to t('home_page.contact.btn_info'), new_contact_path %>
      </lead>
    </div>
    <div class="medium-6 columns hide-image-small"></div>
  </div>
</section>
