%section.contact
  .bg-contact
  .row
    .medium-6.columns
      %h2
      = t'home_page.contact.title_html'
      %lead
        = t'home_page.contact.lead_html'
        <br>
        = link_to t('home_page.contact.btn_info'), new_contact_path
    .medium-6.columns.hide-image-small
