%section.contactnow
  .container
    .col-sm-6.col-md-6
      .push
        %h2 Rock your product and trust in ror
        %h3 Especialistas en el desarrollo a medida te ayudamos a publicar tus ideas.
        = link_to "Contactar","#scroll_to_contact", class: "btn btn-primary btn-lg"
