%section.eatbooking
  .row.text-center
    .small-12.columns
      .block-text
        .small-12.columns.image.show-for-small-only
        .small-12.medium-6.columns.description
          %h2 <strong>Eat</strong>booking
          %span Backend / Frontend / Widget / TPV
          %small Proyecto cliente
          %p Libro de reservas electrónico para restaurantes sin comisiones. Ofrece un sistema de widgets que permite a los propietarios de restaurantes de eatbooking integrar el widget de reservas con disponibilidad en tiempo real en cualquier página web de manera sencilla. El diseño se ha optimizado para su cómodo uso en tablets y ordenadores.
          %hr.hr-dark
          = link_to '+ sobre este proyecto', eatbooking_path
          = link_to '> www.eatbooking.com', 'http://www.eatbooking.com/', target: :blank
          %hr.hr-dark
          %small.tecnology Tecnología: Rails4, PostgreSQL, Rspec, Bootstrap, jQuery, Sass, Stripe, Responsive  
        .medium-6.columns.image.show-for-medium-up