%section#scroll_to_followus.followus.pageSection
  .overopacity
  .row
    .small-12.columns
      .small-8.columns.small-centered
        %h2 SiGUENoS EN lA RED SoCiAl
        %ul.no-bullet
          %li.small-3.columns
            = link_to "", "", class: "fa fa-github-alt fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "", class: "fa fa-twitter fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "", class: "fa fa-linkedin fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "https://www.facebook.com/RockRor-916000665159036/timeline/?ref=tn_tnmn", class: "fa fa-facebook fa-2x", target: :blank