%section#scroll_to_followus.followus.pageSection
  .overopacity
  .row
    .small-12.columns
      .columns.small-centered
        %h2 Síguenos en las redes sociales
        %ul.no-bullet
          %li.small-3.columns
            = link_to "", "https://github.com/rockandror/", class: "fa fa-github-alt fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "https://twitter.com/rocknroragile", class: "fa fa-twitter fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "https://www.linkedin.com/company/rockandror", class: "fa fa-linkedin fa-2x", target: :blank
          %li.small-3.columns
            = link_to "", "https://www.facebook.com/RockRor-916000665159036/timeline/?ref=tn_tnmn", class: "fa fa-facebook fa-2x", target: :blank