%section.footer
  .row.text-center
    .small-12.medium-6.small-centered.columns.text-center
      = inline_svg "svg/logo-center.svg" , class: 'logo'
      %hr
      Tel: +34 607 320 876 <br>
      C/ Joan Pons i Marques, 14, 07011  - Palma de Mallorca, EspAña <br>
      %a{:href => "#"} info@rockandror.com  
      %hr
      %ul.inline-list.social
        %li
          %a{:href => "#"} 
            = inline_svg "svg/facebook.svg"
        %li
          %a{:href => "#"}
            = inline_svg "svg/twitter.svg"
        %li
          %a{:href => "#"}
            = inline_svg "svg/github.svg"