%section.howworks
  .row
    .small-12.columns
      %hr
      %h2 Como trabajamos
      Con tal de obtener el mayor valor posible con el mínimo esfuerzo seguimos fielmente los principios del desarrollo agile. 
      explicar todos los conceptos relacionados con la metodología filosofía de desarrollo agile es demasiado extenso para incluirlo en este documento, pero lo podemos resumir de la siguiente forma.
      =image_tag "sprint.svg"
      %ol
        %li <strong>Análisis:</strong> planteamiento de nuevas funcionalidades, proposición de soluciones y planificación de objetivos.
        %li <strong>Diseño:</strong> realización de maquetas (mockups), identificar riesgos, anticipar problemas y preparar alternativas.
        %li <strong>Implementación:</strong> desarrollo de las funcionalidades, pruebas unitarias y de integración.
        %li <strong> Aceptación:</strong> revisión de las nuevas funcionalidades, ajustes y correcciones necesarias.
        %li <strong> Lanzamiento:</strong> instalación en producción y feedback de los usuarios.
      .small-6.columns
        %i.flaticon-man342
      .small-6.columns
        <strong>Es importante que el cliente forme parte del equipo</strong>, que conozca el alcance y los recursos de que dispone. le ayudaremos a entender rápidamente cómo hacer el seguimiento de su proyecto y a seguir el mejor camino posible, aquel que le ofrezca el máximo valor con el mínimo esfuerzo.
        esto lo conseguimos gracias a la búsqueda constante del MVP (Minimum Viable Product), que no es más que identificar la funcionalidad que más valor le da a su propuesta y centrar los esfuerzos y recursos en ponerla en práctica en el menor tiempo posible.  