%section.howweworks
  .row.text-center
    .small-12.columns.text-center
      %h3 Con tal de obtener el <strong>mayor valor posible con el mínimo esfuerzo</strong> seguimos los principios del <strong>desarrollo agile</strong>.
      %i Dividimos el objetivo final en hitos a corto plazo que recorren el siguiente flujo de trabajo.
      %div
        = image_tag "sprint.png"
    .small-12.columns.text
      %ul
        %li 1. Análisis: planteamiento de nuevas funcionalidades, proposición de soluciones y planificación de objetivos.
        %li 2. Diseño: realización de maquetas (mockups), identificar riesgos, anticipar problemas y preparar alternativas.
        %li 3. Implementación: desarrollo de las funcionalidades, pruebas unitarias y de integración.
        %li 4. Aceptación: revisión de las nuevas funcionalidades, ajustes y correcciones necesarias.
        %li 5. Lanzamiento: instalación en producción y feedback de los usuarios.
      %hr
      %span 
        * Es importante que el cliente forme parte del equipo, que conozca el alcance y los recursos de que dispone. Le ayudaremos a entender rápidamente cómo hacer el seguimiento de su proyecto y a seguir el mejor camino posible, aquel que le ofrezca el máximo valor con el mínimo esfuerzo. Esto lo conseguimos gracias a la búsqueda constante del MVP (Minimum Viable Product), que no es más que identificar la funcionalidad que más valor le da a su propuesta y centrar los esfuerzos y recursos en ponerla en práctica en el menor tiempo posible. Para ello nos gusta utilizar herramientas que nos faciliten la comunicación, interacción y la toma de decisiones con nuestros clientes en cada uno de los pasos importantes. Algunas de nuestras herramientas colaborativas favoritas: GitHub, BitBucket, Trello, Redmine, SlackChat.