%section.intro
  .bg-man
  .container
    %h2
      = t'home_page.intro.title_html'
    %lead
      = t'home_page.intro.lead_html'

    -# %h1 Desarrollo de aplicaciones web y móviles
  = link_to t('home_page.intro.btn_discover'), '#scroll_to_tecnology', id: "btn-discover"
