.intro 
  .video-container-show.animated-heightclose.delay-2
    %h2.animated-opacity.delay-3
      Creamos servicios web y aplicaciones móviles agregando valor a su negocio
    = link_to 'Más sobre RockandRor', '#scroll_to_rockandror', target: :blank
    /= youtube_video_as_background("bgndVideo", "NM2wtte1JRE", { quality: "hd1080", containment: "body", opacity: "0.9")})