.intro
  -# #animate-area
  -# #animate-area2
  .bg-man
  .bg-stars
  .bg-background
  .container
    %h2.title
      ¿Tienes una gran idea?
    %h1
      Desarrollo web agíl a medida
    %lead webs y apps
    = link_to 'Descubre más', '#scroll_to_rockandror', id: "btn-discover"
