<section class="intro" id="intro">
   <h1>ROCK&ROR</h1> 
  <h2>DESARROLLO WEB AGIL A MEDIDA</h2>
  <!-- <lead>We are a team passionate about Ruby on Rails and new web technologies.</lead> -->
  <h3 class="cd-headline slide">
    <span>If you want a</span>
    <span class="cd-words-wrapper">
      <b class="is-visible">good web application</b>
      <b>fast web application</b>
      <b>responsive web application</b>
      <b>Test drive web application</b>
    </span>
  </h3>

  <a href="#about" class="btn btn-primary">start now</a>
</section>

 
     
   
