%section#scroll_to_intro.intro
  .row
    .small-12.columns
      %h1 Desarrollo <strong>web ágil</strong>
      %lead.hidden-xs Un equipo de entusiastas de <strong> RubyOnRails</strong> y de las nuevas tecnologías web.
      %h3.cd-headline.slide
        %span Si deseas una aplicación
        %span.cd-words-wrapper
          %b.is-visible a medida
          %b en poco tiempo
          %b rápida
          %b flexible
          %b escalable
          %b testeada
      = link_to "Comienza ahora", "#scroll_to_about", class: "btn btn-primary btn-lg"
