%section#scroll_to_intro.intro
  .promotion.animated-topdown.delay-11
    PROMOCION: Approvecha el mes de Julio para conseguir nuestro equipo con un descuento del 20%!
  .video-container-show.animated-heightclose.delay-2
  .video-container
    = video_tag("3893462.mp4", :controls => false, :autobuffer => true, :autoplay => true, :loop => true)