%section#scroll_to_intro.intro.pageSection
  .intro-image
  .intro-opacity-animation
  .intro-mask
  #viewport
    /.ship
    #stars
    #stars2
    #stars3
    .cloud-1
    .moon
      .disk
    .meteors
      .meteor
    .row
      .small-12.columns
        .title
          %h1 Desarrollo <strong>web ágil</strong>
          %lead.hidden-xs Un equipo de entusiastas de <strong> RubyOnRails</strong> y de las nuevas tecnologías web.
      %div
      .faces
        .guz.shake.shake-vertical{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Carlos Guzman"}
        .seb.shake.shake-vertical{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Sebas Roig"}
        .sen.shake.shake-vertical{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Senene Rodero"}
        .ale.shake.shake-vertical{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Alessandro Cuoghi"}
%section.intro-bottom
  .intro-bottom-overlay
  .row
    .small-12.columns
      %div.cd-headline.slide
        %h4 Si deseas
        %span.cd-words-wrapper
          %b.is-visible una aplicación a <strong>medida</strong>
          %b una aplicación <strong>rapida</strong>
          %b una aplicación <strong>flexible</strong>
          %b una aplicación <strong>escalable</strong>
          %b una aplicación <strong>testeada</strong>
      %ul.inline-list.icons-group
        %li.icon.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Diseñamos"}
          %span.flaticon-painter33
        %li.icon.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Creamos Web"}
          %span.flaticon-website17
        %li.icon.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Diseañadas para dispositovs moviles"}
          %span.flaticon-smartphone55
        %li.icon.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Testeamos las applicaciones"}
          %span.flaticon-diploma2
      %ul.inline-list.icons-group-text
        %li design
        %li website
        %li mobile  
        %li tested   
    = link_to "Contacta ahora","#scroll_to_contact", class: "button" 