.intro
  -# #animate-area
  -# #animate-area2
  .bg-man
  .bg-stars
  .bg-background
  .container
    %h2.title
      ¿Tienes una gran idea?
    %lead
      Construimos empresas tecnológicas
    %h1 Desarrollo de aplicaciones web y móviles
    = link_to 'Descubre más', '#scroll_to_rockandror', id: "btn-discover"
