.intro{ data: { animate: "true" } }
  .bg-man
  .bg-stars
  .bg-background
  .container
    %h2.title
      ¿Tienes una gran idea?
    %lead
      Nosotros la implementamos
    %h1.show-for-medium-up Desarrollo de aplicaciones web y móviles
    = link_to 'Descubre más', url_for(anchor: "scroll_to_rockandror"), id: "btn-discover", class: "btn-ror"
