.intro 
  .bg-background
  .container
    %h1
      Rock and Ror Studio
    %lead Desarrollomos  <strong>web y aplicaciones móviles</strong><br class="hide-for-small"> agregando valor a su negocio
    = link_to 'Descubre mas', '#scroll_to_rockandror', id: "btn-discover"