%section.intro
  .bg-man
  .container
    %h2
      equipo de profesionales dedicados al desarrollo ágil de aplicaciones web y App <u> para Startup.</u>
    %lead
      Tenemos un plan estratégico. Se llama hacer las cosas bien.<br> ”Herb Kelleher"
    -# %h1 Desarrollo de aplicaciones web y móviles
  = link_to 'Descubre más', '#scroll_to_tecnology', id: "btn-discover"
