.intro 
  .bg-background.hide-opacity
  .video-container-show
    %h1
      Rock and Ror Studio
    %lead Desarrollomos  <strong>web y aplicaciones móviles</strong><br class="hide-for-small"> agregando valor a su negocio
    = link_to 'Descubre mas', '#scroll_to_rockandror', id: "btn-discover"
    .row.medium-center
    /= youtube_video_as_background("bgndVideo", "NM2wtte1JRE", { quality: "hd1080", containment: "body", opacity: "0.9")})