<section class="intro" id="scroll_to_intro">
  <h1>Desarrollo web ágil a medida</h1> 
  <lead class="hidden-xs">Somos un equipo de entusiastas de RubyOnRails y de las nuevas tecnologías web.</lead> 
  <h3 class="cd-headline slide">
    <span> - Si deseas una aplicación</span>
    <span class="cd-words-wrapper">
      <b class="is-visible">a medida</b>
      <b>en poco tiempo</b>
      <b>rápida</b>
      <b>flexible</b>
      <b>escalable</b>
      <b>testeada</b>
    </span>
  </h3>
  <%= link_to "Comienza ahora", "#about", class: "btn btn-primary btn-lg" %>
</section>