<section class="intro" id="intro">
  <h1>DESARROLLO WEB áGIL A MEDIDA</h1> 
  <lead>Somos un equipo de entusiastas de RubyOnRails y de las nuevas tecnologías web.</lead> 
  <h3 class="cd-headline slide hidden-xs">
    <span>Si deseas una aplicación</span>
    <span class="cd-words-wrapper">
      <b class="is-visible">a medida</b>
      <b>en poco tiempo</b>
      <b>rápida</b>
      <b>flexible</b>
      <b>escalable</b>
      <b>testeada</b>
    </span>
  </h3>
  <%= link_to "Comienza ahora", "#about", class: "btn btn-primary btn-lg" %>
</section>