<section class="intro" id="intro">
  <h1>DESARROLLO WEB AGIL A MEDIDA</h1> 
   <lead>We are a team passionate about Ruby on Rails and new web technologies.</lead> 
    <h3 class="cd-headline slide hidden-xs">
      <span>Si deseas una aplicaciones</span>
      <span class="cd-words-wrapper">
        <b class="is-visible">a medida</b>
        <b>rápida</b>
        <b>flexible</b>
        <b>escalable</b>
        <b>personalizada</b>
        <b>testeada</b>
      </span>
    </h3>
  <a href="#about" class="btn btn-primary btn-lg">start now</a>
</section>

 
     
   
