<section class="intro">
  <div class="bg-man"></div>
  <div class="container">
    <h2>
      <%= t'home_page.intro.title_html' %>
    </h2>
    <lead>
      <%= t'home_page.intro.lead_html' %>
    </lead>
  </div>
  <%= link_to t('home_page.intro.btn_discover'), '#scroll_to_tecnology', id: "btn-discover" %>
</section>
