.intro 
  .video-container-show.animated-heightclose.delay-2
    %h1.animated-opacity.delay-3
      Desarrollo web <br>en Palma de Mallorca
    %lead.hide-for-small Creamos servicios <strong>web y aplicaciones móviles</strong><br> agregando valor a su negocio
    .hexagon
    = link_to '', '#scroll_to_rockandror', target: :blank
    /= youtube_video_as_background("bgndVideo", "NM2wtte1JRE", { quality: "hd1080", containment: "body", opacity: "0.9")})