.intro
  .bg-man
  .bg-stars
  .bg-background
  .container
    %h2.title
      ¿Tienes una gran idea?
    %lead
      Nosotros la implementamos
    %h1 Desarrollo de aplicaciones web y móviles
    = link_to 'Descubre más', url_for(anchor: "scroll_to_rockandror"), id: "btn-discover", class: "button success"
