.intro 
  .bg-background
  .video-container-show
    %h1
      Desarrollo web <br>en Palma de Mallorca
    %lead.hide-for-small Creamos servicios <strong>web y aplicaciones móviles</strong><br> agregando valor a su negocio
    .row.medium-center
      = link_to 'Descubre más', '#scroll_to_rockandror'
    /= youtube_video_as_background("bgndVideo", "NM2wtte1JRE", { quality: "hd1080", containment: "body", opacity: "0.9")})