%section.news-social.pageSection
  .row
    .small-12.columns
      %h3 Ultimas novedad desde la <strong>red social</strong>
      .small-4.columns.twitter
        %h4 twitter
      .small-4.columns.google
        %h4 google plus
      .small-4.columns.facebook
        %h4 facebook