%section.oasis.work
  .row.text-center
    .small-12.columns
      .block-text
        .medium-6.columns.image.show-for-medium-up
        .small-12.medium-6.columns.description
          %h2 <strong>Oasis</strong>catamarán
          %span Backend / Frontend / TPV / 3 idiomas
          %small Proyecto cliente
          %p Aplicación web para la venta de excursiones en catamarán con todo tipo de servicios adicionales. Hemos desarrollado un backend con navegación optimizada para tablets a través del cual los administradores de la empresa pueden modificar todos los contenidos, crear excursiones personalizadas y una página de venta de pasajes con pasarela de pago en tres idiomas compatible con todo tipo de dispositivos móviles.
          .small-12.columns.image.show-for-small-only
          %hr.hr-oasis
          = link_to '+ sobre este proyecto', '/oasiscatamaran', class: "btn-ror button expand"
          %hr.hr-oasis
          %small.tecnology Tecnologia: Rails4, PostgreSQL, Rspec, Bootstrap, Sass, Redsys, Responsive, SEO
