%section.oasis.pageSection
  .row.text-center
    .small-12.columns
      .row.block-text
        .small-12.medium-6.columns.image
          = image_tag("oasis-catamaran/oasis-device.png")
        .small-12.medium-6.columns.text-left
          %h3 <strong>Oasis</strong>catamarán
          %span Backend / Frontend / TPV / 3 idiomas
          %small Proyecto cliente
          %p Aplicación web para la venta de excursiones en catamarán con todo tipo de servicios adicionales. Hemos desarrollado un backend con navegación optimizada para tablets a través del cual los administradores de la empresa pueden modificar todos los contenidos, crear excursiones personalizadas y una página de venta de pasajes con pasarela de pago en tres idiomas compatible con todo tipo de dispositivos móviles.
          %hr.hr-oasis
          = link_to '+ sobre este proyecto', '/oasiscatamaran'
          = link_to '> www.oasiscatamaran.es', 'http://www.oasiscatamaran.com', target: :blank
          %hr.hr-oasis
          %small Tecnologia: Rails4, PostgreSQL, Rspec, Bootstrap, Sass, Redsys, Responsive, SEO