%section.open_source
  .row
    .medium-6.columns.text-right
      %h2
        Toda la tecnología que utilizamos para desarrollar es código abierto <u>open source</u>
      %h3
        Partecipaciones
      %lead
        pudimos participar en la Hackaton OpenMAD 2015 para ayudar al equipo de expertos de la comunidad de Madrid en proyectos de participación y transparencia ciudadana.
        <br>
        = link_to 'leer más sobre nuestras partecipacion', open_source_path
    .small-12.medium-6.columns.hide-image-small
      .image
