%section.open_source
  .row
    .medium-6.columns.text-right
      %h2
        = t'home_page.open_source.title_html'
      %h3
        = t'home_page.open_source.title_html'
      %lead
        = t'home_page.open_source.more_text_html'
        <br>
        = link_to t('home_page.open_source.btn_info'), open_source_path
    .small-12.medium-6.columns.hide-image-small
      .image
