%section.participation
  .row.content
    .small-12.columns
      %h3 <strong>Participación </strong> Open source
    %hr
    .small-12.medium-4.columns
      %div
        = image_tag("participation/participation-picture-1.jpg")
    .small-1.columns.hide-for-small-only
    .small-12.medium-7.columns.text
      %h4 Ayuntamiento Madrid. Portal de transparencia
      %p
        Toda la tecnología que utilizamos en RockAndRoR para desarrollar es código abierto (open source) y cuando nos resulta posible nos gusta participar en proyectos interesantes aportando nuestro granito de arena. En esta ocasión pudimos participar en la Hackaton OpenMAD 2015 para ayudar al equipo de expertos de la comunidad de Madrid en proyectos de participación y transparencia ciudadana. Ha sido un placer para nosotros conocer y apoyar este proyecto con un poco de nuestro conocimiento.
      = inline_svg_tag "svg/logo-madrid.svg"
