%section#scroll_to_services.services.pageSection
  .row
    .small-12.columns
      %h2 Services
      %p Cualquier proyecto de software está sujeto a cambios constantes de requerimientos, ya sean por parte del usuario, del cliente o de la tecnología. Por esta misma razón estimar correctamente un presupuesto es una árdua tarea. no obstante, nuestra experiencia realizando proyectos de software puede darnos una ligera idea de lo que suelen costar estos proyectos, para ello, utilizamos la medida mes/hombre de trabajo.
      %p Un mes/hombre = 160 horas de trabajo (que no necesariamente realiza la misma persona) en un mes. nos referimos al trabajo de desarrollo y todo lo que conlleva, la gestión, el diseño, la maquetación, gestión de sistemas y seguridad. es una medida de esfuerzo.
      %p Solemos clasificar los proyectos en función de su complejidad (y coste) de la siguiente manera:
      %br
    .row{"data-equalizer" => ""}
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-rocket19
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Blog Página web corporativa
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-rocketship5
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Configuración de tienda online básica
    .row{"data-equalizer" => ""}
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-rocket20
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Blog Página web corporativa
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-rocket62
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Blog Página web corporativa
    .row{"data-equalizer" => ""}
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-rocket77
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Blog Página web corporativa
      .small-6.columns.cont
        %div.icons.small-5.columns.panel{"data-equalizer-watch" => ""}
          %i.flaticon-space18
        %div.service.small-7.columns.panel{"data-equalizer-watch" => ""}
          %h3 Blog Página web corporativa
    .small-12.columns
      %h3 hosTing y mANTENimiENTo
      %p Durante la fase de desarrollo, Rock&RoR siempre trabaja con heroku.com, una empresa de hosting especialmente pensada para el desarrollo ágil de aplicaciones. Su costo es gratuito mientras dure el desarrollo, una vez en producción se puede configurar el servidor en función de la demanda de usuarios. Los costes son variables en función del volumen de usuarios.
    %hr
    .small-6.columns
      %h3 Copias de seguridad
      %p El paquete básico incluye una gestión de copias de seguridad sencilla para evitar perder los datos en caso de un problema eventual.
      %ul
        %li- una copia diaria (histórico de los últimos 7 días)
        %li- una copia semanal (histórico de las últimas 4 semanas)
        %li- una copia mensual (solo se guarda el último mes)
      con esta gestión de copias de seguridad es más que suficiente para la mayoría de proyectos, aunque es posible contratar un servicio profesional de gestión de base de datos si el proyecto lo requiere.
    .small-6.columns
      %h3 mantenimiento
      %p una vez en producción y finalizada la fase de desarrollo de un proyecto, se le entrega al cliente la titularidad de las cuentas y acceso al código fuente para que sea el mismo el que gestione los gastos y reciba las notificaciones que pudieran enviar dichos servicios.Aunque revisamos y monitorizamos todo el código que se sube a producción para anticiparnos a posibles errores que pudieran surgir, todo proyecto web en producción requiere de un mantenimiento. ya sea por la incorporación de nuevas funcionalidades, corregir errores no detectados durante la fase de desarrollo o problemas relacionados con la tecnología, para que sea haga una idea, es como cuidar el jardín de su casa. ofrecemos paquetes de mantenimiento para sus proyectos en producción, no dude en preguntar para obtener más información.