%section.team
  .row
    .medium-6.columns.hide-image-small
      .image
    .small-12.medium-6.columns
      %h2
        = t'home_page.team.title_html'
      %lead
        = t'home_page.team.lead_html'
        <br>
      = link_to t('home_page.team.btn_info'), team_path
