%section.team
  .row
    .medium-6.columns.hide-image-small
      .image
    .small-12.medium-6.columns
      %h2
        Ofrecemos un <u>enfoque personal y efectivo</u> en cada proyecto que participamos.
      %lead
        Ponemos especial atención en la calidad del código realizado. Ofrecemos a nuestros clientes acceso a Informes detallados del trabajo del equipo.
        <br>
        = link_to 'Descrubre más sobre nuestro equipo', team_path
