<section class="team">
  <div class="row">
    <div class="medium-6 columns hide-image-small">
      <div class="image"></div>
    </div>
    <div class="small-12 medium-6 columns">
      <h2>
        <%= t'home_page.team.title_html' %>
      </h2>
      <lead>
        <%= t'home_page.team.lead_html' %>
        <br>
      </lead>
      <%= link_to t('home_page.team.btn_info'), team_path %>
    </div>
  </div>
</section>
