<section class="tecnology" id="tecnology">
  <div class="container">
   <h2>Tecnologia</h2>
   <span>Elastic and transparent work on projects require big dose of changes – that’s why we work with:
   </span>
   <div class="row text-center">
     <a href="#" class="logo"><span class="rails" data-toggle="tooltip" data-placement="top" title="rails"></span></a>
     <a href="#" class="logo" ><span class="coffescript" data-toggle="tooltip" data-placement="top" title="coffe script"></span></a>
     <a href="#" class="logo"><span class="html5" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></span></a>
     <a href="#" class="logo"><span class="github"></span></a>
     <a href="#" class="logo"><span class="javascript"></span></a>
     <a href="#" class="logo"><span class="css3"></span></a>
     <a href="#" class="logo"><span class="sass"></span></a>
     <a href="#" class="logo"><span class="sql"></span></a>
     <a href="#" class="logo"><span class="postress"></span></a>
     <a href="#" class="logo"><span class="bootstrap"></span></a>
     <a href="#" class="logo"><span class="heroku"></span></a>
     <a href="#" class="logo"><span class="w3c"></span></a>
     <div class="logo"><span class="jquery"></span></a>
   </div>
  </div>
</section>