<section class="tecnology" id="tecnology">
  <div class="container">
   <h2>Tecnologia</h2>
   <span>Elastic and transparent work on projects require big dose of changes – that’s why we work with:
   </span>

<style type="text/css">
.item--svg-clip-path-svg image,
.item--svg-clip-path-html img {
  clip-path: url(#clipping);
  }
  </style>

<div class="item item--svg-clip-path-svg">
    <div class="demo">
      <svg width="200" height="300">
        <image xlink:href="http://img-fotki.yandex.ru/get/5607/5091629.6b/0_612e6_b9039c0d_M.jpg" width="200" height="300" />
      </svg>
    </div>  

   


 
   <div class="row text-center">
     <a href="#" class="logo"><span class="rails" data-toggle="tooltip" data-placement="top" title="rails"></span></a>
     <a href="#" class="logo" ><span class="coffescript" data-toggle="tooltip" data-placement="top" title="coffe script"></span></a>
     <a href="#" class="logo"><span class="html5" data-toggle="tooltip" data-placement="top" title="html5"></span></a>
     <a href="#" class="logo"><span class="github" data-toggle="tooltip" data-placement="top" title="github"></span></a>
     <a href="#" class="logo"><span class="javascript" data-toggle="tooltip" data-placement="top" title="javascript"></span></a>
     <a href="#" class="logo"><span class="css3" data-toggle="tooltip" data-placement="top" title="css3"></span></a>
     <a href="#" class="logo"><span class="sass" data-toggle="tooltip" data-placement="top" title="sass"></span></a>
     <a href="#" class="logo"><span class="sql" data-toggle="tooltip" data-placement="top" title="sql"></span></a>
     <a href="#" class="logo"><span class="postress" data-toggle="tooltip" data-placement="top" title="postress"></span></a>
     <a href="#" class="logo"><span class="bootstrap" data-toggle="tooltip" data-placement="top" title="bootstrap"></span></a>
     <a href="#" class="logo"><span class="heroku" data-toggle="tooltip" data-placement="top" title="heroku"></span></a>
     <a href="#" class="logo"><span class="w3c" data-toggle="tooltip" data-placement="top" title="w3c"></span></a>
     <div class="logo"><span class="jquery" data-toggle="tooltip" data-placement="top" title="jquery"></span></a>
   </div>
  </div>
   
 
    
</section>