%section.tecnology#scroll_to_tecnology
  .row
    .medium-6.columns
      %h2
        Siempre utilizamos las mejores herramientas para ofrecer un <u>producto final sólido</u>
      %lead
        Ruby On Rails, Coffe script, Html, Haml, Javascript, Github, Sass, Foundation, PostgreSQL, Bootstrap, Heroku, Jquery, Angular, Ionic.
        <br>
        = link_to 'Más informacíon', eatbooking_path
    .small-12.medium-6.columns
      .image
