%section#scroll_to_tecnology.tecnology.pageSection
  .row.centerheight
    .small-5.columns
      %h2 Tecnologia
      %p Somos unos entusiastas del framework para desarrollo web Ruby on Rails (abreviado ror) y de las nuevas tecnologías web. Siempre utilizamos las mejores herramientas para ofrecer un producto final sólido y robusto. estas son algunas de las que utilizamos:
    .small-7.columns
      .text-center
        %a.small-1.columns.logo
          %span.rails{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Rails"}
        %a.small-1.columns.logo
          %span.coffescript{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.html5{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.github{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.javascript{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.css3{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.sass{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.sql{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.postress{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.bootstrap{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.heroku{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.jquery{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.jquery{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.jquery{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}
        %a.small-1.columns.logo
          %span.jquery{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Coffescript"}