%section.tecnology
  .row
    .small-5.columns
      %h2 Tecnologia
      Somos unos entusiastas del framework para desarrollo web Ruby on Rails (abreviado ror) y de las nuevas tecnologías web. Siempre utilizamos las mejores herramientas para ofrecer un producto final sólido y robusto. estas son algunas de las que utilizamos:
    .small-7.columns
      .text-center
        %a.small-1.columns.logo
          %span.rails{"data-placement" => "top", "data-toggle" => "tooltip", :title => "rails"}
        %a.small-1.columns.logo
          %span.coffescript{"data-placement" => "top", "data-toggle" => "tooltip", :title => "coffe script"}
        %a.small-1.columns.logo
          %span.html5{"data-placement" => "top", "data-toggle" => "tooltip", :title => "html5"}
        %a.small-1.columns.logo
          %span.github{"data-placement" => "top", "data-toggle" => "tooltip", :title => "github"}
        %a.small-1.columns.logo
          %span.javascript{"data-placement" => "top", "data-toggle" => "tooltip", :title => "javascript"}
        %a.small-1.columns.logo
          %span.css3{"data-placement" => "top", "data-toggle" => "tooltip", :title => "css3"}
        %a.small-1.columns.logo
          %span.sass{"data-placement" => "top", "data-toggle" => "tooltip", :title => "sass"}
        %a.small-1.columns.logo
          %span.sql{"data-placement" => "top", "data-toggle" => "tooltip", :title => "sql"}
        %a.small-1.columns.logo
          %span.postress{"data-placement" => "top", "data-toggle" => "tooltip", :title => "postress"}
        %a.small-1.columns.logo
          %span.bootstrap{"data-placement" => "top", "data-toggle" => "tooltip", :title => "bootstrap"}
        %a.small-1.columns.logo
          %span.heroku{"data-placement" => "top", "data-toggle" => "tooltip", :title => "heroku"}
        %a.small-1.columns.logo
          %span.w3c{"data-placement" => "top", "data-toggle" => "tooltip", :title => "w3c"}
        %a.small-1.columns.logo
          %span.jquery{"data-placement" => "top", "data-toggle" => "tooltip", :title => "jquery"}