<section class="tecnology" id="scroll_to_tecnology">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h2>
        <%= t'home_page.tecnology.title_html' %>
      </h2>
      <lead>
        <%= t'home_page.tecnology.lead_html' %>
        <br>
        <%= link_to t('home_page.tecnology.btn_info'), best_tools_path %>
      </lead>
    </div>
    <div class="small-12 medium-6 columns hide-image-small">
      <div class="image"></div>
    </div>
  </div>
</section>
