<section class="tecnology" id="tecnology">
  <div class="container">
   <h2>Tecnologia</h2>
   <h3>Elastic and transparent work on projects require big dose of changes – that’s why we work with:
   </h3>
   <div class="row text-center">

    <a href="#" class="logo">
      <span class="rails" data-toggle="tooltip" data-placement="top" title="rails">
      </span>
    </a>

     <a class="logo" >
      <span class="coffescript" data-toggle="tooltip" data-placement="top" title="coffe script"></span>
    </a>
     <a class="logo"><span class="html5" data-toggle="tooltip" data-placement="top" title="html5"></span></a>
     <a class="logo"><span class="github" data-toggle="tooltip" data-placement="top" title="github"></span></a>
     <a class="logo"><span class="javascript" data-toggle="tooltip" data-placement="top" title="javascript"></span></a>
     <a class="logo"><span class="css3" data-toggle="tooltip" data-placement="top" title="css3"></span></a>
     <a class="logo"><span class="sass" data-toggle="tooltip" data-placement="top" title="sass"></span></a>
     <a class="logo"><span class="sql" data-toggle="tooltip" data-placement="top" title="sql"></span></a>
     <a class="logo"><span class="postress" data-toggle="tooltip" data-placement="top" title="postress"></span></a>
     <a class="logo"><span class="bootstrap" data-toggle="tooltip" data-placement="top" title="bootstrap"></span></a>
     <a class="logo"><span class="heroku" data-toggle="tooltip" data-placement="top" title="heroku"></span></a>
     <a class="logo"><span class="w3c" data-toggle="tooltip" data-placement="top" title="w3c"></span></a>
     <div class="logo"><span class="jquery" data-toggle="tooltip" data-placement="top" title="jquery"></span></a>
   </div>
  </div>
   
 
    
</section>