%section#scroll_to_tecnology.tecnology
  .container
    %h2 Tecnologia
    %h3 Algunas de nuestras herramientas y servicios favoritos
    .row.text-center
      %a.logo
        %span.rails{"data-placement" => "top", "data-toggle" => "tooltip", :title => "rails"}
      %a.logo
        %span.coffescript{"data-placement" => "top", "data-toggle" => "tooltip", :title => "coffe script"}
      %a.logo
        %span.html5{"data-placement" => "top", "data-toggle" => "tooltip", :title => "html5"}
      %a.logo
        %span.github{"data-placement" => "top", "data-toggle" => "tooltip", :title => "github"}
      %a.logo
        %span.javascript{"data-placement" => "top", "data-toggle" => "tooltip", :title => "javascript"}
      %a.logo
        %span.css3{"data-placement" => "top", "data-toggle" => "tooltip", :title => "css3"}
      %a.logo
        %span.sass{"data-placement" => "top", "data-toggle" => "tooltip", :title => "sass"}
      %a.logo
        %span.sql{"data-placement" => "top", "data-toggle" => "tooltip", :title => "sql"}
      %a.logo
        %span.postress{"data-placement" => "top", "data-toggle" => "tooltip", :title => "postress"}
      %a.logo
        %span.bootstrap{"data-placement" => "top", "data-toggle" => "tooltip", :title => "bootstrap"}
      %a.logo
        %span.heroku{"data-placement" => "top", "data-toggle" => "tooltip", :title => "heroku"}
      %a.logo
        %span.w3c{"data-placement" => "top", "data-toggle" => "tooltip", :title => "w3c"}
      %a.logo
        %span.jquery{"data-placement" => "top", "data-toggle" => "tooltip", :title => "jquery"}
