<section class="tecnology" id="scroll_to_tecnology">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-6 ">
      <h2>
        <%= t'home_page.best_tools.title_html' %>
      </h2>
      <lead>
        <%= t'home_page.best_tools.lead_html' %>
        <br>
        <%= link_to t('home_page.best_tools.btn_info'), best_tools_path %>
      </lead>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
      <div class="image"></div>
    </div>
  </div>
</section>
