%section#scroll_to_tecnology.tecnology.pageSection
  .row
    .small-12.medium-5.columns
      %h2 Tecnologia
      %p Somos unos entusiastas del framework para desarrollo web Ruby on Rails (abreviado ror) y de las nuevas tecnologías web. Siempre utilizamos las mejores herramientas para ofrecer un producto final sólido y robusto. estas son algunas de las que utilizamos:
    .small-12.medium-7.columns
      .text-center
        %a.small-4.medium-4.columns.logo
          %span.rails
        %a.small-4.medium-4.columns.logo
          %span.coffescript
        %a.small-4.medium-4.columns.logo
          %span.html5
        %a.small-4.medium-4.columns.logo
          %span.github
        %a.small-4.medium-4.columns.logo
          %span.javascript
        %a.small-4.medium-4.columns.logo
          %span.css3
        %a.small-4.medium-4.columns.logo
          %span.sass
        %a.small-4.medium-4.columns.logo
          %span.sql
        %a.small-4.medium-4.columns.logo
          %span.postress
        %a.small-4.medium-4.columns.logo
          %span.bootstrap
        %a.small-4.medium-4.columns.logo
          %span.heroku
        %a.small-4.medium-4.columns.logo
          %span.jquery
        %a.small-4.medium-4.columns.logo
          %span.foundation
        %a.small-4.medium-4.columns.logo
          %span.il
        %a.small-4.medium-4.columns.logo
          %span.ps
        %a.small-4.medium-4.columns.logo
          %span.angular  
        %a.small-4.medium-4.columns.logo
          %span.ionic  
        %a.small-4.medium-4.columns.logo
          %span.node  
        %a.small-4.medium-4.columns.logo.hide-for-medium-up.hide-for-small-only
          %span
