%section.webdings
  .row.text-center
    .small-12.columns
      .row.block-text
        .small-12.medium-6.columns.image
          /= image_tag("webdings/home.png")
        .small-12.medium-6.columns.description
          %h2 <strong>Web</strong>dings
          %span Backend / Frontend / API / App
          %small Proyecto de RockAndRoR
          %p Webdings se ha desarrollado como un proyecto de formación interna, es un SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda. Esta formado por un backend a través del cual los novios pueden definir los contenidos y módulos que desean publicar, una API para interactuar con aplicaciones móviles, una web y una app autogeneradas a través de la información y configuración introducidas en el backend.
          %hr.hr-light
          = link_to '+ sobre este proyecto', '/webdings'
          = link_to '> www.webdings.es', 'http://www.webdings.es', target: :blank
          %hr.hr-light
          %small Tecnologías: RubyOnRails4, PostgreSQL, Rspec, Ionic, Bootstrap, Sass, Responsive