%section.webdings.work
  .row.text-center
    .small-12.columns
      .block-text
        .medium-6.columns.image.show-for-medium-up
        .small-12.medium-6.columns.description
          %h2 <strong>Web</strong>dings
          %span Backend / Frontend / API / App
          %small Proyecto de RockAndRoR
          %p Webdings se ha desarrollado como un proyecto de formación interna, es un SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda. Está formado por un backend a través del cual los novios pueden definir los contenidos y módulos que desean publicar, una API para interactuar con aplicaciones móviles, una web y una app autogeneradas a través de la información y configuración introducidas en el backend.
          .small-12.columns.image.show-for-small-only
          %hr.hr-light
          = link_to '+ sobre este proyecto', '/webdings', class: "btn-ror button expand"
          %hr.hr-light
          %small.tecnology Tecnologías: RubyOnRails4, PostgreSQL, Rspec, Ionic, Bootstrap, Sass, Responsive
