%section.works
  .row
    .medium-6.columns
      %h2
        = t'home_page.works.title_html'
      %lead
        = t'home_page.works.lead_html'
        <br>
        = link_to t('home_page.works.btn_info'), works_path
    .small-12.medium-6.columns.hide-image-small
      .image
