%section.works
  .row
    .medium-6.columns
      %h2
        Nuestro objetivo es ayudarle a encontrar la mejor solución <u>tecnologica para su idea</u>

      %lead
        Echa un vistazo a algunos de los últimos trabajos hechos para nuestros clientes.
        <br>
        = link_to 'Ver trabajos', eatbooking_path
    .small-12.medium-6.columns
      .image
