#home.home
  = render 'welcome/intro'
  = render 'welcome/about'
  = render 'welcome/tecnology'
  =render 'welcome/howworks'
  =render 'welcome/portfolio'
  =render 'welcome/team'
  =render 'welcome/followus'
  =render 'welcome/contact'
