.page.oasiscatamarans
  .img-background.row
    .cont-introduction.medium-12.small-12.large-6
      %h1 <strong>Oasis</strong>catamaran
      %span.text-center Excursiones y Eventos
      %hr
      %p
        Aplicación web para la venta de excursiones en catamarán con todo tipo de servicios adicionales. Hemos desarrollado un backend con navegación optimizada para tablets a través del cual los administradores de la empresa pueden modificar todos los contenidos, crear excursiones personalizadas y una página de venta de pasajes con pasarela de pago, todo en tres idiomas y compatible con todo tipo de dispositivos móviles.
  .back-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Back</strong> end
      .wrapperIpad.medium-12
        = image_tag "oasis-catamaran/ipad.png", class: "img-play-ipad"
      %hr
      .row
        .medium-4.large-4.columns
          %ul.text-center
            %li Gestor de contenidos multi-idoma
            %li Integración RedSys
            %li Gestor multibarco
        .medium-4.large-4.columns
          %ul.text-center
            %li Gestor multibarco
            %li Gestor de reservas
            %li Gestor de agentes comerciales
        .medium-4.large-4.columns
          %ul.text-center
            %li Configuración adaptable
            %li Diseño adaptable a dispositivos móviles
      %hr
      %p 
        El backend ofrece una gestión total para los dueños del catamaran, donde se pueden gestionar y crear las excursiones que se pondrán a la venta en la web, se ofrece una gestión contable con listado de facturas y control de pagos. Todo bajo un depurado trabajo de diseño de personalización y adaptabilidad a tablets.

  .front-end.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center <strong>Front</strong> end
      .medium-12
        = image_tag "oasis-catamaran/oasis-device.png", class: "img-play-ipad"
        %hr
        .medium-centered.columns
          %p 
            La página de venta es totalmente dinámica, configurable y posicionable desde el BackOffice. Se ha otimizado la navegación para dispositivos móviles y se ha diseñado acorde a la imagen coorporativa de la marca. Se ha realizado una integración con RedSys para la venta de tickets online. Con un poco de esmero uniendo las expectativas del cliente y los conceptos principales de usabilidad se ha conseguido una web comercial al gusto de todos donde poder ver claramente todas las excursiones con los servicios extras que se ofrecen.

  .tecnology.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Tecnologia</strong> utilizada
      .row.text-center
        = inline_svg_tag "svg/icon-responsive.svg", class: 'text-center'
      .medium-centered.columns
        %p 
          RubyonRails / PostgreSQL / Rspec <br>
          Bootstrap / Sass / Responsive <br>
          Photoshop / Illustrator

  = render 'shared/contact_now'