<section class="agile-development">
  <div class="row-fluid columns">
    <div class="medium-10 medium-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.agile_developer.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
</section>
