<section class="page agile-development">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.agile_developer.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
</section>

<%= render 'shared/contact_now' %>
