<section class="team">
  <div class="row-fluid columns">
    <div class="medium-10 medium-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.team.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
    <div class="medium-12 columns">
      <div class="medium-10 medium-offset-1">
        <h2>Quien es RockAndRor</h2>
        <p>
          Rockandror es un equipo formado por de 2 ingenieros y 1 diseñador cada uno con más de 15 años de experenica dedicado exclusivamente al sector del desarrollo web y moviles.
        </p>
        <h2>El comienzo: año 2015</h2>
        <p>
          La necesidad de crear applicaciones web y moviles con calidad del codigo, interfaces funcionales y apetible a la vista  siempre ha sido un reto por cada informatico autonomo. Decimos la verdad, fabricar un producto solido y que funcione no es cosa simple, y una persona sola puede llevar a conseguirlo pero en que tiempo y con que calidad y a con cuanto estrés? En RockAndRor dudamos mucho que un solo indviduo pueda conseguir proyectos complejos como el lanzamiento de una startup tecnologica, no obstante sea un FullStack, el mundo informatico es rapído y dificil, y saber todos es imposible.
        </p>
        <h2>Juntar el conocimiento, adotar la buena metodología, juntar las fuerzas en una unica dirección hizo poder crear RockAndRor.</h2>
        <p>
          Formado por dos Españoles y un Italiano los tres co-foundador de una idea que poco a poco se hizo realidad y se materializó gracias a los clientes que confiaron en nosotros desde el prinicipio y al continuo esfuerzo en aprender toda la tecnologia mejores que hay hoy en dia en el mercado.
        </p>
        <h2>Un poco más sobre nosotros</h2>
        Foto
        <h2>Nuestra filosofia: honestad, transparencia y etica.</h2>
        <p>
          Se supone que en una relación de trabajo todo irá bien, pero no siempre eso pasa, hay varias razones por lo cual un cliente puede querer cambiar: falta eocnomica, insatisfacción, falta de tiempo, o un obstáculo inesperado, cualquier sea a nosotros nos gusta tener un contrato que ayude el cliente liberarse de nosotros en cualquier momento, sin ninguna limitación y tambien liberar nosotros da un cliente que de repente es incapacidado a seguir o intender la correcta forma para llevar un proyecto.
          Creemos en la transparencia; todo lo que hacemos se analyza para proveer un presupuesto lo más cercano al proyecto.  Realizamos de forma atenta y completa cada tarea, asegurandonos . Producimos reportes de las horas invertida diariamente que sea de gestion, diseño, analysis, desarrollo, etc.. consultable en tiempo real direcatmente en tu ordenador.Durante el desarrollo estamos comprometidos a evaluar retrospectivamente, junto con el cliente, si se cumplió nuestra promesa de costo y tiempo, así como la calidad del producto.
          Todos los códigos y productos materiales son propiedad del cliente, así como todos los demás servicios están a nombre del cliente. El código es probado y documentado para que el equipo después de nosotros pueda llevar adelante el trabajo desde el primer día.

        </p>
      </div>
    </div>
  </div>
</section>
