<h3 class="content-price">
  Total
  <small><%= f.text_field :ammount, value: calculate_price(@budget), label: false, readonly: true, class:'budget_ammount' %></small>
</h3>

<section>
  <div class="row">
    <h4>Modulos seleccionados</h4>
    <div class="container-text">
      <p>Esto son los modulos que has selecionado.</p>
      <hr />
      <div class="selected-modules">
        <p id="title_mod_1">
          <strong>
          <% if @budget.module_1 == "true" || @budget.module_1 == "1" %>
            - Preparación de servidores
          <% end %>
          </strong>
        </p>

        <p id="title_mod_2">
          <strong>
          <% if @budget.module_2 == "true" || @budget.module_2 == "1" %>
            - Configuración e Instalación
          <% end %>
          </strong>
        </p>

        <p id="title_mod_3">
          <strong>
          <% if @budget.module_3 == "true" || @budget.module_3 == "1" %>
            - Adaptación visual
          <% end %>
          </strong>
        </p>

        <p id="title_mod_4">
          <strong>
          <% if @budget.module_4 == "true" || @budget.module_4 == "1" %>
            - Integración Censo
          <% end %>
          </strong>
        </p>

        <p id="title_mod_5">
          <strong>
          <% if @budget.module_5 == "true" || @budget.module_5 == "1" %>
            - Personalización de procesos
          <% end %>
          </strong>
        </p>

        <p id="title_mod_6">
          <strong>
          <% if @budget.module_6 == "true" || @budget.module_6 == "1" %>
            - Mantenimiento y monitorización
          <% end %>
          </strong>
        </p>
        <hr />
        Precio total:
        <strong id="module-total-content-price"> <%#= f.text_field :ammount, value: calculate_price(@budget), label: false, readonly: true, class:'budget_ammount' %></strong>
        <hr />
        <p>
          Quiere que nos pongamos en contacto con usted? Sigues adelante..
        </p>
      </div>
    </div>
  </div>
</section>
