<h3 class="content-price">
  <div id="checked-2" class="check"></div>
  Módulo 2
  <div class="content-title hide-xs">
    <span class="title">Configuración e Instalación</span>
    <%#= check_step(@budget, "checked-2", "module_2") %>
  </div>
</h3>

<section>
  <div class="row">
    <h4>Configuración e Instalación</h4>
    <div class="container-text">
      <p>
        Este módulo es indispensable para cualquier Ayuntamiento que aún no
        disponga de la aplicación de Consul y pretenda implantarla.
      </p>
      <hr />
      <ul>
        <li>Configuración Integración Continua "Travis"</li>
        <li>Gestión y monitorización de errores "Rollbar"</li>
        <li>Configurar Capistrano</li>
        <li>Instalación de la aplicación</li>
      </ul>
      <hr />
      <p>
        Precio: <strong>1.000€</strong>
      </p>
      <!-- <div class="container-checkbox"> -->
      <div class="">
        <%= f.check_box :module_2, id: 'budget_module_2', label: false, checked: @budget.module_2 == "true" || @budget.module_2 == "1" ? "checked" : "" %>
        <%= f.label :module_2, 'Añadir este módulo al presupuesto' %>
        <%#= f.label :for "budget_module_1"   %>
      </div>
    </div>
  </div>
</section>
