<h1>Hola RockAndRor</h1>
<p>
  <%= @contact.name %>
  ha realizado una solicitud por la web rockandror.com
</p>
<p>
  Email del cliente: #{@contact.email}
</p>
<p>
  Budget del cliente: #{@contact.budget}
</p>
<p>
  <%= @contact.message %>
</p>
