%section.team
  .row-fluid.columns
    .medium-10.medium-offset-1
      = link_to t('common.btn_back'), url_for(:back), class: 'btn-back'
      %h1
        = t('pages.team_title')
      = render 'shared/logo_rails'
