%section.open-source
  .row-fluid.columns
    .medium-10.medium-offset-1
      %h1
        = t('pages.open_sources_title')
      = render 'shared/logo_rails'
  .medium-12.columns
    .medium-10.medium-offset-1

      %h2 El Open source es la clave para Start up tecnologicas.
      %p Hay varias razones por lo cual en RockAndRor trabajamos con codigo abierto, la más importante es que nuestros clientes pueden lanzar en el mercaddo una solución comercial en un tiempo corto con un gasto economico ventajoso y una escabilidad a medida para el cliente segun el budget del proyecto.
