.page.greetings
  .cont-introduction.medium-12.small-12.large-8.text-center.row
    %h1 <strong>Gracias </strong> por contactar con nosotros.
    %p.text-center Obtendrá una respuesta en 24 horas.
    %p.text-center Si te gusta <strong>RockAndRor</strong> compártelo, nos ayudarás a crecer! Gracias.