.greetingspage
  .img-background.row
  .cont-introduction.medium-12.small-12.large-8.text-center.row
    %h2 <strong>Gracias </strong> para contactarnos
    %p.text-center Gracias por ponerse en contacto con Rockandror, obtendrá una respuesta en 48 horas.
    %hr
    %p.text-center Si te gusta <strong>Rock and Ror</strong> compártelo en Facebook, nos ayudarás a crecer! Gracias.
    #fb-root
    .fb-share-button{"data-href" => "https://www.facebook.com/rocknroragile/", "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "large"}
    %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Frocknroragile%2F&src=sdkpreparse", :target => "_blank"}
    