<section class="greetings">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        <%= t'pages.contact.greetings.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-10 col-md-offset-1">
      <br/>
      <p class="text-center">
        <%= t'pages.contact.greetings.share.text_html' %>
        <br/>
        <div class="fb-like"
              data-href="https://www.facebook.com/rocknroragile/"
              data-layout="button"
              data-action="like"
              data-size="large"
              data-show-faces="false"
              data-share="false">
        </div>
      </p>
    </div>
  </div>
</section>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=1348648721827038';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
