.contact{
  font-size: 1.2em;
  background: #222;
  color:whitesmoke;
  .new_contact{
    .button{
      margin-top: 10px;
    }
  }
  .info{padding:0em 0em 0em 5em;}
  h3{
    color:#fff;
    font-size: 1.5em;
  }
  hr{border:2px solid #333;}
  label{display: none;}
  textarea{
    height:300px;
    color: grey;
  }
  input{height: 60px;}
  .name{
    padding-top: 0px;
    span{
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: -1px;
    }
    div{display: inline-block;}
  } 
}