.followus{
  border-bottom:3px solid $secondary-color;
  position: relative;
  .overopacity{
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  background: url(followus-sat.jpg);
  background-repeat: no-repeat;
  background-position: -290px -610px;  
  h2{@include text(white,uppercase,null);}
  text-align: center;
  ul{
    margin-top: 15%;
    li,.fa{
      text-align: center;
      color:white;
    }
    .fa{
      display: block;
      &:hover{
        color:$primary-color;
        &.follows{
          background-position: 0px 30px;  
        }
      }
    }
  }
}