.intro{
  .intro-image{
    background: url(space-wallpapers-4.jpg);
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .intro-opacity-animation,
  .intro-mask,
  .intro-image{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height:680px;
    background-size: cover;
  }
  .intro-opacity-animation{
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 15;
    top: 0;
    background: black;  
    -webkit-mask-image: url("intro-mask.png");
    -webkit-mask-position: center bottom;
    mask-image: url("intro-mask.png");
    -moz-mask-position: center bottom;
    animation: AnimationName 5s ease-in;
    animation-fill-mode: forwards;
    @keyframes AnimationName { 
      0%{  
        opacity: 1;
        }
      100%{
        opacity: 0;
      }
    }
  }
  .intro-image{
    mask-image: url(intro-mask.png) ; 
    mask-position: center;
  }
  .intro-mask {
    background-image: image-url("intro-mask-radial.png");
    background-position: center bottom; 
    opacity: .6;
    position: absolute;
    width: 100%;
    z-index: 9;
    mix-blend-mode: multiply;
  }
  #viewport{
    position: absolute;
    top: 0px;
    z-index: 8;
    overflow: hidden;
    height: 620px;
    width: 100%;
    text-align: center;
    .title{
      z-index: 3;
      position: relative;
      margin-top:7%;
      h1{
        @include text(white,uppercase, 5em);
        letter-spacing: -4px;
        font-weight: 300;
       }
      lead{
        text-align: center;
        color:white;
        font-size: 1.8em;
        display: block;
        font-weight: 300;
      }
    }  
    .faces{
      position: relative;
      z-index: 3;
      margin:0px auto;
      .guz,.seb,.sen,.ale{
        width: 87px;
        height: 110px;
        background: $sprite;
        display: inline-block;
        margin-top: 30px;
        zoom: 1.8; 
      }
      .guz{background-position: -81px -11px;}
      .seb{background-position: -178px -11px;}
      .sen{background-position: -273px -11px;}
      .ale{background-position: -375px -11px;}
    }
  }
}
.intro-bottom{
  text-align: center;
  position: relative;
  margin-top: -60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: image-url("intro-bg-bottom.png");
  height:650px;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  z-index: -1;
  .intro-bottom-overlay {
    background:$secondary-color;  
    height:650px;
    opacity: 1;
    position: absolute;
    z-index: -1;
    width: 100%;
    mix-blend-mode: multiply;
  }
  .cd-headline{
    z-index: 9;
    position: relative;
    color:#fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 20%;
    h4{
     font-size: 2.3em;
     color:#fff;
    }
    .cd-words-wrapper{
      b{
        font-size: 1em;
        color:whitesmoke;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
  .inline-list{
     display: table;
     margin: 0 auto;
  }
  .icons-group{
    margin-top: 5%;
    position: relative;
    z-index: 3;
    li{
      width: 60px;
      height: 60px;
      border: 1px solid $thirdary-color;
      text-align: center;
      margin: 10px;
      span{
         color: $thirdary-color;
         font-size: 2rem;
         margin-top: 4px;
      }
    }
  }
  .icons-group-text{
    li{
      margin: 10px;
      text-transform: uppercase;
      width: 60px;
      text-align: center;
      color: $thirdary-color;
      font-size: 11px;
    }
  }
  .button{
    text-transform: uppercase;
    z-index: 9;
    margin-top: 4%;
  }
}