// Small screens
@media only screen { 
 
}
/* Define mobile styles */
@media only screen and (max-width: 40em) { 
  .top-bar{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    .name div{
      float: left;
    }
     .title-area{
      padding-left: 1em;
     } 
  }
  .intro .intro-opacity-animation, .intro .intro-mask, .intro .intro-image{
    height: 570px;

  }
  .intro #viewport .title{  margin-top: 23%;}
  .intro #viewport .title h1{
    font-size: 4em;
    margin-top: 1em;
  }  
  .intro-bottom{
    margin-top: -19px;
  }
  .intro-bottom .cd-headline{
    margin-top: 50%;
  }

  .tecnology { 
    min-height: none;
    h2,p{text-align: center;}
  }
  .tecnology .logo span{
    margin-left: 0.2em;
    margin-top:18%;
  }
  .team .eqWrap{
    display: block;
  }
  .team .section .eq{
     margin: 0px; 
     margin-bottom:1em;
     padding:30px;
      background: none;
  }
  .team .section .eq .social{
    position: relative;
    bottom: 2em;
    text-align: center;
    background: white;
    padding-bottom: 2em;
  } 
  .team .section .eq .text{
    background: white;
  }
  .contact .info{
    padding: 0em;
  }
} 
 
// Medium screens
@media only screen and (min-width: 40.063em) {
 } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.tecnology{
    .logo{width: 25%;}
    background: red;
  }
  .top-bar .title-area{
    width: 100%;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .top-bar{
    background: none;
    .top-bar{
     .title-area{
       padding-left: 1em;
     } 
    }
  }
  .home{
    margin-top: -80px;
  }
  .tecnology{
    .logo{width: 20%;}
  }
}
 /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

//Orientation Ipad 
@media all and (orientation:portrait) {
  .tecnology{
    .logo{width: 20%;}
   //medi background: red;
  }
}
@media all and (orientation:landscape) {
   .tecnology{
    .logo{width: 20%;}
 //   background: yellow;
  }
}