@media only screen and (max-width: 40em) { 
  .top-bar{
    background:black;
    position: fixed;
    width: 100%;
    .title-area{padding-left: 1em;} 
  }
  .intro{
    .intro-opacity-animation,.intro-mask,.intro-image{height: 570px;}
    #viewport{
       .title{
        margin-top: 23%;
        h1{
          font-size: 3em;
          margin-top: 1em;
        }  
        lead{margin-top:0px;}
      }
    }
  }  
 .intro-bottom{
  display: none;
  margin-top: -19px;
  .cd-headline{
    margin-top: 50%;
  }
}
.tecnology { 
  min-height: none;
  h2,p{text-align: center;}
}
.team .section .eq{
  margin: 0px; 
  margin-bottom:1em;
  padding:30px;
  background: none;
  .text{ background: white; }
  .social{
    position: relative;
    bottom: 2em;
    text-align: center;
    background: white;
    padding-bottom: 2em;
  } 
}
  .flip-container{ margin-bottom:1em;}
  .team .section .senen strong, .team .section .carlos strong, .team .section .sebastia strong, .team .section .alle strong{ font-size: 1em; }  
  .about,.tecnology,.howworks,.portfolio,.contact,.team,.followus { @include padding(5em, 0em, 5em, 0em); }
  .contact{
    text-align: center;
    h3{padding-bottom: 1em;}
    .name{
      svg{margin-left: 15%;}
      div{float: left;}
    }
     
  }
} 
// Medium screens
@media only screen and (min-width: 40.063em) {
  .about,.tecnology,.howworks,.portfolio,.contact,.team,.followus {
   @include padding(10em, 0em, 10em, 0em);
 }
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 90.063em) {
  .about,.tecnology,.howworks,.portfolio,.contact,.team,.followus {
   @include padding(15em, 0em, 20em, 0em);
  }
  .intro .intro-image{background-position-y:-350px;}
 } /* min-width 1921px, xxlarge screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .tecnology{
    .logo{width: 25%;}
  }
  .top-bar .title-area{
    width: 100%;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

//max 320
@media only screen and (max-width:320px) {
  .tecnology{
    .logo{
      span{
        width: 100%;
        padding-top: 90%;
      } 
    }
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .top-bar{
    background: none;
    .top-bar{
      .title-area{padding-left: 1em;} 
    }
  }
  .home{margin-top: -80px;}
  .tecnology{
    .logo{width: 20%;}
  }
}

//Iphone 6 and 6s
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .tecnology{
    .logo{
      span{
        width: 80%;
        padding-top: 70%;
      } 
    }
  }
}

//Iphone 6 plus
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .tecnology{
    .logo{
      span{
        width: 78%;
      } 
    }
  }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .about{
    h3{font-size: 1.4em;}
  }
  .contact{
    h3{font-size: 1em;}
  }
}

@media all and (orientation:portrait) {
  .intro { 
    .intro-mask{display: none;}
  }
  .contact .info{padding: 1em;}
}

@media all and (orientation:landscape) {
  .intro .intro-opacity-animation{top:70px;}
  .tecnology{
    .logo{width: 20%;}
  }
}

//Nexus 4
@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2){
  .tecnology{
    .logo{
      span{
        width: 100%;
        margin-top: 0.7em;
      } 
    }
  }
}