.news-social{
  background: #e3eaed;
  border-bottom: 3px solid $steel;
  h3{
    text-align: center;
    padding:3% 0%
  }
  .twitter{background: $twitter-color;}
  .google{background: $google-color;}
  .facebook{background: $facebook-color;}
} 