.portfolio{
  @extend .padding-all;
  background: #EAEAEA;
  text-align: center;
  h2{
    @include text($primary-color,uppercase,null);
    text-align: left;
  }
  p{
    text-align: left;
  }
  .slick-prev:before,
  .slick-next:before{
    color: $primary-color;
  }
}