.team{
   @extend .padding-all;
  @extend .gradient-radial-violeta;
  border-bottom:3px solid $secondary-color;
  h2{
    @include text(white,uppercase,null);
    display: inline-block;
  }
  p{color: white;}
  
.eqWrap {
  display: flex;
  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    &:hover{
      .flipper{
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);   
      }
    }
    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 0.6s;
      -moz-transform-style: preserve-3d;
      -o-transition: 0.6s;
      -o-transform-style: preserve-3d;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
  


.back {
  background: white;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

  
  .section{
    .flip-container {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
      }
    .eq {
      //padding: 10px;
      //background:white;
      //padding: 0px;
      //margin: 1em;
      //position: relative;
     // padding-bottom: 2em;
       
      // strong,i{
      //   text-align: center;
      //   display: block;
      //   color:white;
      // }
      // strong{
      //   font-size: 1.5em;
      //   padding-top: 1em;
      // }
       
      i{padding: 1em;}
      .social{
        
         bottom: 2em;
        left: 0;
        right: 0;
        text-align: center;
        a{
          margin: 0px 1em 0px 1em;
        }
      }
    }
    .senen,.carlos,.sebastia,.alle{
     padding-bottom: 3em;
      filter: none;
      -webkit-filter: grayscale(40%);
      -moz-filter:    grayscale(40%);
      -ms-filter:     grayscale(40%);
      -o-filter:      grayscale(40%);
      padding-bottom: 1em;
      cursor: pointer;
      strong,i{
        text-align: center;
        display: block;
        color:white;
      }
      strong{
        font-size: 1.5em;
        padding-top: 1em;
      }
      .text{
        text-align: justify;
        background: #fff;
      }

      &:hover{
        -webkit-transform:1.0s cubic-bezier(0,.75,.25,1);
        transform: 1.0s cubic-bezier(0,.75,.25,1);
        animation: addsaturate .5s ease-in-out;
        animation-fill-mode: forwards;         
      }
       @keyframes addsaturate { 
        0%{  
          
          }
        100%{
          -webkit-filter: grayscale(0%);
          -moz-filter:    grayscale(0%);
          -ms-filter:     grayscale(0%);
          -o-filter:      grayscale(0%);
        }
      }
       @keyframes flip { 
        0%{  
          
          }
        100%{
           
        }
      }
       
      span{
        position: absolute;
        z-index: 9;
        left: 14px;
        text-align: center;
        margin-top: -1em;
        font-size: 3.5em;
        color: #35B4B7;
      }
    }
    .senen{
      background:$color-senen;
      span{color:$color-senen;}
    }
    .carlos{
      background:$color-carlos;
      span{color:$color-carlos;}
    }
    .sebastia{
      background:$color-sebastia;
      span{color:$color-sebastia;}
    }
    .alle{
      background: $color-alle;  
      span{color:$color-alle;}
    }
  }          
}