.team{
  @extend .padding-all;
  @extend .gradient-radial-vioeleta;
  border-bottom:3px solid $secondary-color;
  h2{
    @include text(white,uppercase,null);
    display: inline-block;
  }
  .lead{
    color: white;
    margin-left: 11em;
    display: block;
    margin-top: -44px;
  }
  .eqWrap {
    display: flex;
  }
  .section{
    margin-top: 2em;
    .eq {
      padding: 10px;
      background:white;
      padding: 0px;
      margin: 1em;
      position: relative;
      padding-bottom: 2em;
      .circle{
        background:white;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        overflow: hidden;
        margin: 0px auto;
        img{margin-top: -10px;}
      }
      strong,i{
        text-align: center;
        display: block;
        color:white;
        margin-top: .5em;
      }
      .text{
        text-align: justify;
      }
      i{padding: 1em;}
      .social{
        position: absolute;
        bottom: 2em;
        left: 0;
        right: 0;
        text-align: center;
        a{
          margin: 0px 1em 0px 1em;
        }
      }
    }
    .senen,.carlos,.sebastia,.alle{
      padding-top: 3em;
      padding-bottom: 3em;
    }
    .senen{
      background:$color-senen;
      .circle{border:6px solid #46A6B7;}
    }
    .carlos{
      background:$color-carlos;
      .circle{border:6px solid #C40000;}
    }
    .sebastia{
      background:$color-sebastia;
      .circle{border:6px solid #FFB500;}
    }
    .alle{
      background: $color-alle;
      .circle{border:6px solid #C0CD91;}
    }
  }          
}