.body-budget-consul{
  #btn_plus{
    display: none !important;
  }
}
.budget-consul{
  background: #f4f3f4;

  .cont-introduction {
    background: #fff;

    h1 {
      line-height: 45px;
      padding-top: 1em;
    }

    svg {
      path#CONSUL {
        fill: #666666;
      }
    }
  }
  .header{
    padding: 8em 0;
    background: #36424a;
    background: -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
    background: -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
    background: linear-gradient(135deg, #36424a 0%,#3a778b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36424a', endColorstr='#3a778b',GradientType=1 );
    color: #fff;

    h2 {
      color: white;
    }
    svg{
      margin-top:4em;
    }

    p{
      max-width: 300px;
      margin: 0 auto;
      text-align: left;
      margin-top: 1em;
    }

    a{
      margin-top:1em;
    }
  }

  .services {
    padding: 3em 0;

    &.no-padding-top {
      padding-top: 0;
    }


    h3{
      font-size: 1.2em;
      font-weight: bold;
    }

    ul.pricing-table {
      background: white;

      .price {
        color: #3a778b;
      }
      li.title, .cta-button a {
        background: #00A8E0;
      }

      > li {
        list-style: none;
      }

      h2 {
        color: white;
        text-transform: none;
      }

      .button.floor {
        position: relative;
        margin-top: 15%;
      }
    }
  }

  .team {
    padding: 4em 0;
    background: #36424a;
    background: -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
    background: -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
    background: linear-gradient(135deg, #36424a 0%,#3a778b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36424a', endColorstr='#3a778b',GradientType=1 );
    color: #fff;

    h2 {
      color: white;
    }
    svg {
      margin-top:4em;
    }

    p {
      margin: 0 auto;
      text-align: left;
      margin-top: 1em;
    }

    ul.members {
      padding-top: 1em;
    }

    a{
      margin-top:1em;
    }
  }
}
