section{
  &.page.budget-consul{
    .header-bg{
      @include header-bg-content;
      @include radial-gradient(#2184be, darken(#2184be, 10%));
      .st0{
        fill:#fff;
      }
    }
    .services{
      padding: 3em 0;
      margin-top:3em;
      background: #f4f3f4;

      .timeline ul{
        margin-left:0;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-left: 0;

        &:before{
          content: '';
          position: absolute;
          width: 1px;
          background: #adacad;
          z-index: 9;
          margin: 0 auto;
          top: 140px;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
        }
      }

      .timeline ul li {

        list-style-type: none;
        position: relative;
        width: 0;
        margin: 0 auto;
        padding: 2em 0;
        z-index: 10;

        div.content {
          position: relative;
          bottom: 0;
          width: 400px;
          padding: 15px;
          background: #fff;
        }

        &:nth-child(odd) div,
        &:nth-child(even) div {

          &::after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #2184be;
            top: 50%;
          }
          .icon{
            width: 70px;
            text-align: center;
            margin-top: 3em;
          }
          .content-text{
            padding: 1em;
            width: 280px;
          }
        }

        &:nth-child(odd) div {
          left: -401px;
          text-align: right;

          &::after{
            right: -8px;
          }

          &:last-child::after{
            display: none;
          }

          .icon{
            float: right;
          }

        }

        &:nth-child(even) div {
          left: 1px;
          &::after{
            left: -8px;
          }
          .icon{
            float: left;
          }
          .content-text{
            display: inline-block;
          }
        }
      }
    }
    .budget-container{
      background: #fff;
      padding: 3em 0;

      h2{
        margin-top:1em;
      }

      form{
        position: relative;

        .wizard{
          margin-top: 4em;
        }

        .steps{
          li a{
            text-align: left;
            position: relative;
            #checked-1,
            #checked-2,
            #checked-3,
            #checked-4,
            #checked-5,
            #checked-6{
              display: none;
              position: absolute;
              right: -8px;
              top:0;
              bottom:0;
              width: 1.6em;
              background: darken($brand-success, 10%);

              span{
                position: absolute;
                top: 15px;
                right: 13px;
                color: #fff;
                font-size: 14px;
              }
            }
            small{
              font-size: 10px;
              display: block;
              margin-top: 5px;
            }
          }
        }

        .content{
          section{
            h4{
              font-size: 18px;
              background: #2184be;
              margin: 0;
              padding: 1em;
              color: #fff;
              text-align: left;
              small{
                color:#fff;
                float: right;
              }
            }
            li{
              font-size: 0.9em;
            }
          }
        }

        .container-text{
          text-align: left;
          padding: 1em;
        }

        .steps{
          #checked-1, #checked-2, #checked-3,
          #checked-4, #checked-5, #checked-6 {
            float: right;
            font-weight: bold;
            font-size: larger;
            margin-right: 8px;
          }
          .content-title .title{
            font-size: 13px;
            display: inline-block;
            max-width:170px;
          }
          .content-price{
            font-size: 14px;
          }
        }

        .selected-modules {
          p{
            margin-bottom: 0px;
          }
        }

        label[for="budget_ammount"]{
          display: inline-block;
          float: left;
          display: none;
        }

        input[name="budget[ammount]"]{
          height: auto;
          background: transparent;
          color: #fff;
          width: auto;
          display: inline;
          border: 0;
          box-shadow: none;
          margin: auto;
          padding: auto;
        }

        #wizard-t-6 {
          background: $brand-success;
          color:#fff;
        }

        .content{
          border:1px solid #cccccc;
          background: white;
        }
      }

      .wizard > .steps a,
      .wizard > .steps a:hover,
      .wizard > .steps a:active{
        border-radius: 0;
      }

      .wizard > .content {
        min-height: 44em;
      }

      .total-price{
        position: absolute;
        left: 20px;
        bottom: 18px;
        color: #fff;
      }

      a{
        span{
          display: block;
        }
      }

      section{
        .container-checkbox{
          padding: 1em;
          padding-left: 0;
          text-align: left;

          p{
            margin-bottom:0;
          }
          label{
            color: $brand-success;
            font-weight: 700;
          }

          [type="checkbox"]:not(:checked),
          [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
           }

          [type="checkbox"]:not(:checked) + label,
          [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 3em;
            cursor: pointer;
          }

          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border: 1px solid #ccc;
            background: #fff;
          }

          [type="checkbox"]:not(:checked) + label:after,
          [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: .2em;
            left: .175em;
            font-size: 1.4em;
            line-height: 0.8;
            color: $brand-success;
            transition: all .2s;
          }

          [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
          }

          [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(0.7);
          }

          [type="checkbox"]:disabled:not(:checked) + label:before,
          [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }

          [type="checkbox"]:disabled:checked + label:after {
            color: #999;
          }

          [type="checkbox"]:disabled + label {
            color: #aaa;
          }

          label:hover:before {
            border: 2px solid $brand-success !important;
          }
        }
      }
      form{
        .container-text{
          ul{
            padding-left: 2em;
            li{
              list-style-type: decimal !important;
            }
          }
        }
        label{
          text-align: left;
        }
        .content{
          border-radius: 0;
        }

        textarea{
          height: 100px;
        }

        .actions{
          width: 50%;
          margin-top: 10px;
          a{
            border-radius: 0;
          }
        }
      }
    }
  }
}


section.page.budget-consul .budget-container .wizard > .content{
  border:1px solid #f1f1f1;
  min-height: 31em;
  overflow-y: auto;
}
section.page.budget-consul p{
  font-size: 0.9em;
}

.wizard > .content > .body{
  width:100%;
  padding: 0;
}

.wizard > .steps .current a.active{
  background: $brand-success;
}
