section{
  &.page.budget-consul{
    .header-bg{
      @include header-bg-content;
      @include radial-gradient(#3a778b, #36424a);
      .st0{
        fill:#fff;
      }
    }

    .services{
      padding: 3em 0;
      margin-top:3em;
      background: #f4f3f4;

      .timeline ul{
        margin-left:0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-left: 0;

        &:before{
          content: '';
          position: absolute;
          width: 1px;
          background: #adacad;
          z-index: 9;
          margin: 0 auto;
          top: 140px;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
        }
      }

      .timeline ul li {
        list-style-type: none;
        position: relative;
        width: 0;
        margin: 0 auto;
        padding: 2em 0;
        background: #385966;
        z-index: 10;

        &:last-child {
          height: 200px;

          .icon{
            position: absolute;
            top: 0;
            left: -25px;
            bottom: 0;
            right: 0;
            top: 50px;
            z-index: 9;
            margin: 0 auto;
          }

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: inherit;
          }
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: inherit;
        }
        div.content {
          position: relative;
          bottom: 0;
          width: 400px;
          padding: 15px;
          background: #fff;
        }
        &:nth-child(odd) div {
          left: -401px;
          text-align: right;

          .icon{
            width: 70px;
            float: right;
            text-align: center;
            margin-top: 3em;
          }

          .content-text{
            width: 280px;
            padding: 1em;
          }
        }
        &:nth-child(even) div {
          .icon{
            width: 70px;
            float: left;
            text-align: center;
            margin-top: 3em;
          }
          .content-text{
            width: 280px;
            display: inline-block;
            padding: 1em;
          }
          left: 1px;
        }
      }
    }

    .budget-container{
      background: #fff;
      padding: 3em 0;
      margin-top: -75px;

      h2{
        margin-top:1em;
      }

      form{
        position: relative;

        .steps{
          li a{
            text-align: left;

            small{
              font-size: 10px;
              display: block;
            }
          }
        }

        .container-text{
          text-align: left;
          padding: 1em;
        }

        .steps{


          #checked-1, #checked-2, #checked-3,
          #checked-4, #checked-5, #checked-6 {
            float: right;
            font-weight: bold;
            font-size: larger;
            margin-right: 8px;
          }
          .content-title .title{
            font-size: 13px;
            display: inline-block;
            max-width:170px;
          }
          .content-price{
            font-size: 14px;
          }
        }

        .selected-modules {
          p{
            margin-bottom: 0px;
          }
        }

        label[for="budget_ammount"]{
          display: inline-block;
          float: left;
          display: none;
        }

        input[name="budget[ammount]"]{
          height: auto;
          background: transparent;
          color: #fff;
          width: auto;
          display: inline;
          border: 0;
          box-shadow: none;
          margin: auto;
          padding: auto;
        }

        #wizard-t-6 {
          background: #41cb8a;
          color:#fff;
        }

        .content{
          border:1px solid #cccccc;
          background: white;
        }
      }

      .wizard > .steps a,
      .wizard > .steps a:hover,
      .wizard > .steps a:active{
        border-radius: 0;
      }

      .wizard > .content {
        min-height: 44em;
      }

      .total-price{
        position: absolute;
        left: 20px;
        bottom: 18px;
        color: #fff;
      }

      a{
        span{
          display: block;
        }
      }

      section{
        .container-checkbox{
          margin-top:3em;
          p{
            margin-bottom:0;
          }
          label{
            color: #41cb8a;
            margin-left: 1em;
            font-weight: 700;
          }

          [type="checkbox"]:not(:checked),
          [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
           }

          [type="checkbox"]:not(:checked) + label,
          [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 3em;
            cursor: pointer;
          }

          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border: 1px solid #ccc;
            background: #fff;
          }

          [type="checkbox"]:not(:checked) + label:after,
          [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: .2em;
            left: .275em;
            font-size: 1.4em;
            line-height: 0.8;
            color: #09ad7e;
            transition: all .2s;
          }

          [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
          }

          [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
          }

          [type="checkbox"]:disabled:not(:checked) + label:before,
          [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }

          [type="checkbox"]:disabled:checked + label:after {
            color: #999;
          }

          [type="checkbox"]:disabled + label {
            color: #aaa;
          }

          label:hover:before {
            border: 2px solid #09ad7e !important;
          }
        }
      }
      form{
        .container-text{
          ul{
            padding-left: 2em;
            li{
              list-style-type: decimal !important;
            }
          }
        }
        label{
          text-align: left;
        }
        .content{
          border-radius: 0;
        }

        textarea{
          height: 100px;
        }

        .actions{
          width: 50%;
          margin-top: 10px;
          a{
            border-radius: 0;
          }
        }
      }
    }
  }
}

  // background: #f4f3f4;
  // .header{
  //   padding: 8em 0;
  //   background: #36424a;
  //   background: -moz-linear-gradient(-45deg, #36424a 0%, #3a778b 100%);
  //   background: -webkit-linear-gradient(-45deg, #36424a 0%,#3a778b 100%);
  //   background: linear-gradient(135deg, #36424a 0%,#3a778b 100%);
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36424a', endColorstr='#3a778b',GradientType=1 );
  //   color: #fff;
  //
  //   svg{
  //     margin-top:4em;
  //   }
  //
  //   p{
  //     max-width: 300px;
  //     margin: 0 auto;
  //     text-align: left;
  //     margin-top: 1em;
  //   }
  //
  //   a{
  //     margin-top:1em;
  //   }
  //
  //   #btn-budget{
  //     margin-top:5em;
  //     border: 1px solid transparent;
  //     display: inline-block;
  //     padding: 0.9em;
  //     text-transform: uppercase;
  //     background: #00b0ea;
  //     color: white;
  //   }
  // }
  // .services{
  //   padding: 3em 0;
  //
  //   h3{
  //     font-size: 1.2em;
  //     font-weight: bold;
  //   }
  //
  //   .timeline ul{
  //     margin-left:0;
  //     overflow: hidden;
  //     position: relative;
  //     z-index: 1;
  //
  //     &:before{
  //       content: '';
  //       position: absolute;
  //       width: 1px;
  //       background: #adacad;
  //       z-index: 9;
  //       margin: 0 auto;
  //       top: 140px;
  //       right: 0;
  //       left: 0;
  //       bottom: 0;
  //       height: 100%;
  //     }
  //   }
  //
  //   .timeline ul li {
  //
  //     list-style-type: none;
  //     position: relative;
  //     width: 0;
  //     margin: 0 auto;
  //     padding: 2em 0;
  //     background: #385966;
  //     z-index: 10;
  //
  //     &:last-child {
  //       height: 200px;
  //
  //       .icon{
  //         position: absolute;
  //         top: 0;
  //         left: -25px;
  //         bottom: 0;
  //         right: 0;
  //         top: 120px;
  //         z-index: 9;
  //         margin: 0 auto;
  //       }
  //
  //       &::after {
  //         content: '';
  //         position: absolute;
  //         left: 50%;
  //         // top: 50%;
  //         transform: translateX(-50%);
  //         width: 100px;
  //         height: 100px;
  //         border-radius: 50%;
  //         background: inherit;
  //       }
  //     }
  //
  //     &::after {
  //       content: '';
  //       position: absolute;
  //       left: 50%;
  //       // top: 50%;
  //       transform: translateX(-50%);
  //       width: 15px;
  //       height: 15px;
  //       border-radius: 50%;
  //       background: inherit;
  //     }
  //
  //     div.content {
  //       position: relative;
  //       bottom: 0;
  //       width: 400px;
  //       padding: 15px;
  //       background: #fff;
  //     }
  //
  //
  //
  //     &:nth-child(odd) div {
  //       left: -401px;
  //       text-align: right;
  //
  //       .icon{
  //         width: 70px;
  //         float: right;
  //         text-align: center;
  //         margin-top: 3em;
  //       }
  //
  //       .content-text{
  //         width: 280px;
  //         padding: 1em;
  //       }
  //     }
  //
  //     &:nth-child(even) div {
  //
  //       .icon{
  //         width: 70px;
  //         float: left;
  //         text-align: center;
  //         margin-top: 3em;
  //       }
  //
  //       .content-text{
  //         width: 280px;
  //         display: inline-block;
  //         padding: 1em;
  //       }
  //       left: 1px;
  //     }
  //
  //   }
  //
  //   .budget-container{
  //     background: #fff;
  //     padding: 3em 0;
  //     margin-top: -75px;
  //
  //     h2{
  //       margin-top:1em;
  //     }
  //
  //     form{
  //         position: relative;
  //         .steps{
  //           small{
  //             float: right;
  //             font-size: 10px;
  //           }
  //           #checked-1, #checked-2, #checked-3,
  //           #checked-4, #checked-5, #checked-6 {
  //             float: right;
  //             font-weight: bold;
  //             font-size: larger;
  //             margin-right: 8px;
  //           }
  //           .content-title .title{
  //             font-size: 13px;
  //             display: inline-block;
  //             max-width:170px;
  //           }
  //           .content-price{
  //             font-size: 14px;
  //           }
  //         }
  //         .selected-modules {
  //           p {
  //             margin-bottom: 0px;
  //           }
  //         }
  //         label[for="budget_ammount"]{
  //           display: inline-block;
  //           float: left;
  //           display: none;
  //         }
  //
  //         input[name="budget[ammount]"]{
  //           height: auto;
  //           background: transparent;
  //           color: #fff;
  //           width: auto;
  //           display: inline;
  //           border: 0;
  //           box-shadow: none;
  //           margin: auto;
  //           padding: auto;
  //         }
  //
  //         #steps-uid-0-t-6 {
  //           background: #41cb8a;
  //           color:#fff;
  //         }
  //
  //       .content{
  //         border:1px solid #cccccc;
  //         background: white;
  //       }
  //     }
  //     .wizard > .steps a,
  //     .wizard > .steps a:hover,
  //     .wizard > .steps a:active{
  //       border-radius: 0;
  //     }
  //
  //     .wizard > .content {
  //       min-height: 44em;
  //     }
  //
  //     .total-price{
  //       position: absolute;
  //       left: 20px;
  //       bottom: 18px;
  //       color: #fff;
  //     }
  //
  //     a{
  //       span{
  //         display: block;
  //       }
  //     }
  //
  //     section{
  //       .container-checkbox{
  //         margin-top:3em;
  //
  //         p{
  //           margin-bottom:0;
  //         }
  //
  //         label{
  //           color: #41cb8a;
  //           margin-left: 1em;
  //           font-weight: 700;
  //         }
  //
  //         [type="checkbox"]:not(:checked),
  //         [type="checkbox"]:checked {
  //           position: absolute;
  //           left: -9999px;
  //         }
  //
  //         [type="checkbox"]:not(:checked) + label,
  //         [type="checkbox"]:checked + label {
  //           position: relative;
  //           padding-left: 3em;
  //           cursor: pointer;
  //         }
  //
  //         [type="checkbox"]:not(:checked) + label:before,
  //         [type="checkbox"]:checked + label:before {
  //           content: '';
  //           position: absolute;
  //           left: 0;
  //           top: 0;
  //           width: 25px;
  //           height: 25px;
  //           border: 1px solid #ccc;
  //           background: #fff;
  //         }
  //
  //         [type="checkbox"]:not(:checked) + label:after,
  //         [type="checkbox"]:checked + label:after {
  //           content: '✔';
  //           position: absolute;
  //           top: .2em;
  //           left: .275em;
  //           font-size: 1.4em;
  //           line-height: 0.8;
  //           color: #09ad7e;
  //           transition: all .2s;
  //
  //         }
  //
  //         [type="checkbox"]:not(:checked) + label:after {
  //           opacity: 0;
  //           transform: scale(0);
  //         }
  //
  //         [type="checkbox"]:checked + label:after {
  //           opacity: 1;
  //           transform: scale(1);
  //         }
  //
  //
  //         [type="checkbox"]:disabled:not(:checked) + label:before,
  //         [type="checkbox"]:disabled:checked + label:before {
  //           box-shadow: none;
  //           border-color: #bbb;
  //           background-color: #ddd;
  //         }
  //
  //         [type="checkbox"]:disabled:checked + label:after {
  //           color: #999;
  //         }
  //
  //         [type="checkbox"]:disabled + label {
  //           color: #aaa;
  //         }
  //
  //         label:hover:before {
  //           border: 2px solid #09ad7e !important;
  //         }
  //
  //       }
  //     }
  //     form{
  //       .container-text{
  //         ul{
  //           padding-left: 2em;
  //           li{
  //             list-style-type: decimal !important;
  //           }
  //         }
  //       }
  //
  //       label{
  //         text-align: left;
  //       }
  //
  //       .content{
  //         border-radius: 0;
  //       }
  //
  //       textarea{
  //         height: 100px;
  //       }
  //       .actions{
  //         width: 50%;
  //         margin-top: 10px;
  //         a{
  //           border-radius: 0;
  //         }
  //       }
  //     }
  //   }
  // }


//
// @media only screen and (max-width: 40em) {
//
//   .budget-consul .services .budget-container{
//
//     .wizard > .content{
//       min-height: 24em;
//       overflow-y: scroll;
//       .body{
//         padding: 1em;
//         height: auto;
//         width: 100%;
//       }
//       #steps-uid-0-p-7 .row{
//         margin: 0 auto;
//       }
//     }
//
//     .steps{
//       > ul > li{
//         width:33%;
//       }
//       li{
//         text-align: center;
//         &:last-child{
//           width: 100%;
//           display: none;
//         }
//         &:nth-last-child(2){
//           width: 100%;
//           .content-title .title{
//             display: block !important;
//             margin: 0 auto;
//           }
//           input[name="budget[ammount]"]{
//             text-align: center;
//             font-weight: 700;
//           }
//         }
//       }
//     }
//     form .actions{
//       width: 100%;
//     }
//   }
// }
//
// @media only screen and (min-width: 40.063em) and (max-width: 64em) {
//   .budget-consul .services .budget-container{
//     section .container-checkbox{
//       margin-bottom: 3em;
//     }
//
//     .wizard > .content{
//       min-height: 24em;
//       overflow-y: scroll;
//     }
//
//     form .steps{
//       .content-title .title{
//         display: block;
//       }
//       > ul > li a{
//         min-height: 120px;
//         display: inherit;
//
//         #checked-1,
//         #checked-2,
//         #checked-3,
//         #checked-4,
//         #checked-5,
//         #checked-6{
//           float: left;
//         }
//       }
//     }
//     form .actions{
//       width: 100%;
//       margin-top: 2em;
//     }
//   }
// }
