.cookies-eu {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #333333;
  padding: 0;

  .cookies-eu-content-holder {
    max-width: 85% !important;
    color: white;
    font-size: 12px;
    padding: 20px;
    text-align: left;
    line-height: 1em;
  }

  .cookies-eu-button-holder {
    padding-right: 0;
    margin-top: 10px;

    .cookies-eu-ok {
      background: $secondary-color;

      &:focus {
        outline: 3px solid $yellow;
      }
    }
  }
}
