@-moz-document url-prefix() {
  a {
    &:active, &:focus{
      outline: none;
      border:  none;
    }
  }
  .btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus{
    outline: none;border:  none; box-shadow: none;
  } 
  .home{
    margin-top: -150px;
  }
  .intro-opacity-animation{display: none;}
  .top-bar{
    .name{
      div{
        margin-top: -35px;
      }
    }
  }
  .intro-mask{
      //top: 5em;
  }
  .intro-bottom{
    .intro-bottom-overlay {
      //mix-blend-mode:normal;
      opacity: .8;
    }
  }
  #viewport{ 
    .faces{
      .guz,.seb,.sen,.ale{
        -moz-transform: scale(1.8);
        margin-right: 5.3em;
      }
    } 
  }
}


   