@font-face {
	font-family: "Flaticon";
	src: font-url("flaticon.eot");
	src: font-url("flaticon.eot#iefix") format("embedded-opentype"),
	font-url("flaticon.woff") format("woff"),
	font-url("flaticon.ttf") format("truetype"),
	font-url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}.flaticon-alien13:before {
	content: "\e000";
}
.flaticon-alien17:before {
	content: "\e001";
}
.flaticon-blog1:before {
	content: "\e002";
}
.flaticon-diploma2:before {
	content: "\e003";
}
.flaticon-flying16:before {
	content: "\e004";
}
.flaticon-google115:before {
	content: "\e005";
}
.flaticon-horror5:before {
	content: "\e006";
}
.flaticon-man342:before {
	content: "\e007";
}
.flaticon-monsters4:before {
	content: "\e008";
}
.flaticon-painter33:before {
	content: "\e009";
}
.flaticon-rocket19:before {
	content: "\e00a";
}
.flaticon-rocket20:before {
	content: "\e00b";
}
.flaticon-rocket62:before {
	content: "\e00c";
}
.flaticon-rocket77:before {
	content: "\e00d";
}
.flaticon-shop3:before {
	content: "\e00e";
}
.flaticon-small144:before {
	content: "\e00f";
}
.flaticon-smartphone55:before {
	content: "\e010";
}
.flaticon-social122:before {
	content: "\e011";
}
.flaticon-social136:before {
	content: "\e012";
}
.flaticon-space18:before {
	content: "\e013";
}
.flaticon-transport886:before {
	content: "\e014";
}
.flaticon-website17:before {
	content: "\e015";
}
