.footer{
  padding:8em 0em 8em 0em;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  background: #fff;
  ul{
    text-align: center;
    list-style: none;
  }
  .logo{
    fill:$primary-color;
    padding: 1em;
  }
  a{
    display: block;
    margin-top: 2em;
    color:$secondary-color;
  }
  .social{
    svg{
      fill:$primary-color;
      &:hover{fill:$secondary-color;}
    }
  }
  p{
    font-size: .6rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    a{display: inline-block;}
  }
}