.home {
  section {

    &.best_tools,
    &.agile_developer,
    &.open_source,
    &.team,
    &.works,
    &.testimonials,
    &.contact {
      padding-top: 4em;
    }

    @include col-xs() {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    h1 {
      position: absolute;
      font-size: 1em;
      top: -100px;
    }

    h2 {
      font-weight: 200;
      line-height: 0.7;
      font-weight: 900;
      line-height: 1;
      width: 100%;

      .underline {
        border-bottom: 2px solid white;
      }
    }

    .row {
      // max-width: 80%;
    }

    .col-sm-6,
    .col-md-6 {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

        @include col-xs() {
          min-height: auto;
        }
    }

    lead {
      padding: 1rem 0;
      display: block;
      font-weight: 300;
      width: 100%;
    }

    .image {
      min-height: 500px;
      width: 100%;
    }
  }

  .intro {
    visibility: hidden;
    position: relative;
    width: 100%;
    @include radial-gradient(#f1b820, #cf891c);
    overflow: hidden;
    z-index: 1;

    .bg-man {
      height: 100%;
      width: 100%;
      background: image_url('svg/home-startup-man.svg') no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: 0;
      position: absolute;
      visibility: hidden;
      top: 0;
      left:0;

      @include col-xs() {
        background-position: 0;
      }

      @include col-min-361-max-766(){
        background-position-y: 110px;
        background-position-x: 15%;
      }

      @include sm-portrait(){
        background-position: 40%;
      }
    }

    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-40%,-50%);
      max-width: 500px;

      @include col-xs() {
        left: 30%;
        top: 30%;
      }

      @include col-min-361-max-766(){
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        max-width: 700px;
      }

      @include col-max-360() {
        top: 40%;
      }

      h2 {
        visibility: hidden;
        @include text(#fff, uppercase, 2em, left);
        font-weight: 900;
        line-height: 1;

        .underline {
          border-bottom:2px solid white;
        }

        @include col-min-361-max-766(){
          font-size: 2em;
        }

        @include col-max-360() {
          font-size: 1.2em;
          width: 200px;
          line-height: 22px;
        }

        @include col-max-320() {
          font-size: 1.2em;
          width: 160px;
        }
      }

      lead {
        z-index: 5;
        visibility: hidden;
        @include text(white, uppercase, 0.8em,left);
        display: block;
      }

      span {
        visibility: hidden;
        @include text(white, capitalize, auto,center);
        display: block;
        font-family: $font-family-serif;
      }
    }

    #btn-discover {
      z-index: 9;
      font-weight: 400;
      visibility: hidden;
      width: 200px;
      margin:0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: $yellow;
      color: #fff;
      text-transform: uppercase;
      padding: 1rem;

      &:hover {
        background: darken($yellow, 10%);
      }

      @include col-xs() {
        visibility: visible;
        top: 90%;
        width: 270px;
      }
    }
  }

  section {
    position: relative;

    &.best_tools,
    &.agile_developer,
    &.open_source,
    &.team,
    &.works,
    &.testimonials,
    &.contact {
      h2 {
        max-width: 600px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.agile_developer,
    &.team {
      align-items: flex-start;
    }

    &.best_tools,
    &.open_source,
    &.works,
    &.testimonials,
    &.contact {
      .medium-6 {
        align-items: flex-end;
      }
    }

    &.best_tools {
      @include radial-gradient(#71c785, #439c58);
      @include btn-ror(white, transparent, white, true, #71c785);

      h2 {
        @include text(#fff, uppercase, 2em, right);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      h3 {
        color:#fff;
      }

      lead {
        @include text(white, uppercase, 0.8em,right);
      }

      .image {
        background: image_url('svg/home-tecnology.svg') no-repeat center center;
      }

      @include col-xs() {
        h2,
        h3,
        lead {
          text-align: left;
        }
      }
    }
    &.agile_developer {
      @include radial-gradient(#ba6889, #a83a80);
      @include btn-ror(white, transparent, white, true, #ba6889);

      h2 {
        @include text(#fff, uppercase, 2em, left);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      lead {
        @include text(white, uppercase, 0.8em,left);
      }

      .image {
        background: image_url('svg/home-agile-develompent.svg') no-repeat center center;
       }
    }
    &.open_source {
      @include radial-gradient(#5fd7db, #4babaf);
      @include btn-ror(white, transparent, white, true, #5fd7db);

      h2{
        @include text(#fff, uppercase, 2em, right);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      lead{
        @include text(white, uppercase, 0.8em, right);
      }

      h3 {
        margin-top: 1rem;
        display: block;
        width:100%;
        @include text(#fff, uppercase, 0.8em, right);
      }

      .image {
        background: image_url('svg/home-open-source.svg') no-repeat center center;
      }
      @include col-xs() {
        h2,
        h3,
        lead {
          text-align: left;
        }
      }
    }
    &.team {
      @include radial-gradient(#0174c5, #0361a3);
      @include btn-ror(white, transparent, white, true, #0174c5);

      h2 {
        @include text(#fff, uppercase, 2em, left);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      lead {
        @include text(white, uppercase, 0.8em, left);
      }

      .image {
        background: image_url('svg/home-team.svg') no-repeat center center;
      }
    }
    &.works {
      @include radial-gradient(#a13644, #712630);
      @include btn-ror(white, transparent, white, true, #a13644);

      h2 {
        @include text(#fff, uppercase, 2em, right);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      lead {
        @include text(white, uppercase, 0.8em, right);
      }

      .image {
        background: image_url('svg/home-works.svg') no-repeat center center;
      }

      @include col-xs() {
        h2,
        h3,
        lead {
          text-align: left;
        }
      }
    }
    &.testimonials {
      @include radial-gradient(#383838, #242424);

      h2 {
        @include text(#fff, uppercase, 2em, right);

        @include col-xs() {
          font-size: 1.6em;
          text-align: center;
        }
      }

      lead {
        @include text(white, uppercase, 0.8em, right);
      }

      #testimonials-carousel {
        margin: 0 auto;

        h3 {
          color: #fff;
          font-weight: 300;
          font-family: $font-family-serif;
        }

        img {
          border-radius: 50%;
          max-width: 120px;
          text-align: center;
          display: block;
          margin: 0 auto;
          margin-top:15px;
          margin-bottom:15px;
        }

        p {
          max-width: 400px;
          font-size: 1em;
          font-family: $font-family-serif;
        }

        a {
          display: block;
          margin-top:15px;
        }

        .carousel-indicators {
          bottom: -50px;

          @include col-xs() {
            bottom: -50px;

            li{
              margin:0 5px;
              width: 15px;
              height: 15px;
            }
          }
        }
      }

    }
    &.contact{
      position: relative;
      background: white;
      border-bottom: 1px solid $gray-lighter;

      @include btn-ror(#676767, transparent, #676767, true, #676767);

      h2 {
        @include text(#676767, uppercase, 2em, right);

        @include col-xs() {
          font-size: 1.6em;
        }
      }

      lead {
        @include text(#676767, uppercase, 0.8em, right);
      }

      .bg-contact {
        height: 100%;
        width: 100%;
        background: image_url('svg/home-contact.svg') no-repeat center center;
        background-size: cover;
        z-index: 0;
        position: absolute;
        top: 0;
        left:0;

        @include sm-portrait(){
          background-position: 90%;
        }
      }

      @include col-xs() {
        h2,
        h3,
        lead {
          text-align: center;
        }
        a{
          margin-top: 1em;
          display: block;
          text-align: center;
          border: 2px solid darken($brand-success, 10%);
          background: $brand-success;
          color: #fff;
          font-weight: 700;
          &:hover,
          &:focus{
            color: $brand-success;
          }
        }
      }
    }
  }

  a.next-section{
    border: 0 !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
  }
}
