.home{
  .intro{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    z-index: 1;
    .bg-background{
      height: 100%;
      width: 100%;
      background: image_url('svg/home-startup-background.svg') no-repeat center center;
      background-size: cover;
      z-index: 0;
      position: absolute;
      top: 0;
      left:0;
    }
    .bg-stars{
      height: 100%;
      width: 100%;
      background: image_url('svg/home-startup-stars.svg') no-repeat center center;
      background-size: cover;
      z-index: 1;
      position: absolute;
      top: 0;
      left:0;
    }
    .bg-man{
      height: 100%;
      width: 100%;
      background: image_url('svg/home-startup-man.svg') no-repeat center center;
      background-size: cover;
      z-index: 2;
      position: absolute;
      top: 0;
      left:0;
    }
    .container{
      position: absolute;
      top: 8%;
      width: 100%;
      h1 {
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 1em;
      }
      h2.title{
        @include text($yellow, uppercase, 4rem,center);
        font-weight: 900;
        text-shadow: 1px 1px  #000;
        line-height: 1em;
      }
      lead{
        z-index: 5;
        @include text(white, uppercase, 2rem,center);
        display: block;
      }
      span{
        @include text(white, capitalize, 1.2rem,center);
        display: block;
        font-family: $font-family-serif;
      }
      a{
        z-index: 4;
        width: 250px;
        margin:0 auto;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
      }
      #btn-discover{
        margin-top: 10px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  section{
    h2{
      font-size: 3.3rem;
      font-weight: 200;
      line-height: 0.7;
    }
    &.rockandror{
      padding:0em 0em;
      background: #fff;
      text-align: center;
      .experts{
        background:#f0f0f0;
        padding: 3em;
        margin-bottom:3em;
        h2{
          font-size: 1.6em;
          color: $secondary-color;
          font-weight: 500;
          line-height: 30px;
        }
      }
      h3{
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 0.7;
        margin-bottom: 1em;
      }
      h4{
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top:1em;
      }
      blockquote, q {
       quotes: none;
       border:none;
       font-family: Georgia, serif;
       font-size: 18px;
       margin:0;
       color: inherit;
       &:before, &:after{
         content: '';
         content: none;
       }
     }
     .author{
       font-family: Georgia, serif;
       font-size: 14px;
     }
     .curly-quotes{
       &:after,&:before{
         display: inline-block;
         vertical-align: top;
         height: 30px;
         line-height: 48px;
         font-size: 50px;
       }
       &:before{
         content: '\201C';
         margin-right: 4px;
         margin-left: -8px;
       }
       &:after {
         content: '\201D';
         margin-left: 4px;
         margin-right: -8px;
       }
     }
      span{
        text-transform: uppercase;
        display: block;
      }
      .inline-list{
        display: table;
        margin: 0 auto;
        margin-top: 20px;
        li{
          margin-left: 0;
          padding:0 1em;
        }
        svg{
          width: 1em;
          fill:$secondary-color;
          &:hover{
            fill:darken($secondary-color, 10%);
          }
        }
      }
      .tecnology{
        padding-bottom: 1em;
      }
      @include btn-ror(transparent, transparent, $secondary-color);
    }

    &.boatjump {
      @extend .gradient-boatjump;
      color:#fff;

      h3 {
        color:white;
      }

      h2 {
        @include text(#fff,uppercase, null,null);
      }

      a {
        color:#fff;
      }

      .button {
        border: solid 1px white;
      }

      .columns{
        .description{
          text-align: left;
        }
        .image{
          background: image_url('boatjump/home.png');
        }
      }
    }

    &.webdings{
      @extend .gradient-white;
      h2{
        @include text($primary-color,uppercase, null,null);
      }
      .columns{
        .description{
          text-align: right;
        }
        .image{
          left:0;
          background: image_url('webdings/home.png');
        }
      }
    }

    &.eatbooking{
      @extend .pattern-eatbooking;
      h2{
        @include text(#f3cc33,uppercase, null,null);
      }
      color:#fff;
      .columns{
        .description{
          text-align: left;
        }
        .image{
          background: image_url('eatbooking/home.png');
        }
      }
    }

    &.oasis{
      @extend .gradient-oasis;
      h2{
        @include text(#5fc3e6,uppercase, null,null);
      }
      color:#fff;

      .button {
        border: solid 1px white;
      }

      .columns{
        .description{
          text-align: right;
        }
        .image{
          left:0px;
          background: image_url('oasis-catamaran/home.png');
        }
      }
    }

    &.boatjump,&.webdings,&.eatbooking,&.oasis{
      span,small{
        font-size: 1em;
        text-transform: uppercase;
        display: block;
      }
      .tecnology{
        font-size: 0.7em;
      }

      p{
        margin-top: 1em;
        text-align: justify;
        text-justify: inter-word;
      }
      .columns{
        padding:3em 0em;
        .description{padding: 1em;}
        .image{
          position: absolute;
          right: 0;
          top: 100px;
          bottom: 0;
          background-position: center top;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-filter: drop-shadow(-1px -3px 8px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(-1px -3px 8px rgba(0, 0, 0, 0.4));
        }
      }
    }

    &.participation{
      padding:0em;
      background: #fff;
      position: relative;
      z-index: 2;
      .content{
        text-align: center;
        padding:3em 0em;
        svg{
          fill: $secondary-color;
          margin:0px auto;
          height: auto;
        }
        h3{
          @include text($steel,uppercase, null, null);
          font-weight: 200;
        }
      }
    }

    &.howweworks{
      background: #f0f0f0;
      padding:0em 2em 2em;
      .columns{
        h3{
          font-size: 2.1rem;
        }
      }
      div{
        margin-top:2em;
      }
      .workflow{
        fill:$steel;
        .text{
          padding:4em;
          padding-top:0;
          background: darken($steel, 10%);
          text-align: left;
          color:white;
          ul{list-style: none;}
          span{font-size: .9rem;}
        }
      }
    }

    &.contact-now{
      padding:3em 0em;
      @extend .contact-now;
    }
    @include btn-ror(transparent, $secondary-color, white);
  }
}
