 /* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  #btn_plus{display:block;}
  .top-bar{display: none;}
  .intro .video-container-show{
    top:20%;
    lead{visibility: hidden;}
    h1{
      font-size: 2.4rem;
      line-height: 40px;
      padding: 1em;
    }
  }

  section{
    a{line-height: 4em;}
    padding:2em 0em 2em 0em;
    h3{font-size: 3em;}
    h3,small,span,p,a{text-align: center;}
    h2{
      text-align: center;
      font-size: 3em;  
    }
    &.webdings{
      padding-top:6em;
      .image{padding-top: 0em;}
    }
    &.rockandror{
      img{max-width: 200px;}
    }
    &.participation {
      text-align: center;
      .header h3{
        text-align: center;
        font-size: 2rem;
      }
    }
    &.howweworks{
      .workflow{
        .arrow{
          display: none;
        }
        .block{
          width: 40%;
          float: none;
          margin: 0px auto;
          height: auto;
          svg#acceptance{ width: 26%; }
          svg#deployment{ width: 37%; }
        }
      }
    }   
  }
  .footer{ 
    padding-top: 1em;
    padding-bottom: 1em;
   .logo{width: 90%;}
  } 
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  section{
    a{
      display: block;
      margin-bottom: 10px;
      text-align: center;
      line-height: 3em;
    }
    h2{ font-size: 2.3rem;}
    &.rockandror{
      h3 {font-size: 1.2rem;}
    .inline-list li{padding: 0em;} 
    }
    .participation{
       .header{text-align: center;}
    }
  }  
}

@media only screen and (max-width: 1200px) { 
  .webdingspage .arrow{
    left: 5%;
    margin-left:0;
    bottom:10%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1072px) { 
  .oasis h2{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 767px) { 
  .top-bar{display: none;}
  .contactpage{
    margin-top: 0px;
  }
  .boatjumppage, .webdingspage, .eatbookingpage, .oasiscatamaranspage{
    margin-top: 0px;
    .cont-introduction{
      h2{
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  .top-bar-section li.active:not(.has-form) a:not(.button){
    line-height: 0.6875rem;
    margin-top: 33px;
    padding: 0;
  }
  .top-bar-section .has-dropdown > a:after{
    display: none;
  }
  .top-bar{
    .top-bar-section{
      .has-dropdown.moved{
       .show-for-medium-up{
        width: 100%;
       }
      }
      .right{
        position: absolute;
        right: 0;
        width: 150px;
      }
      .show-for-medium-up{
        width: 400px;
        li{padding-left:1em;
          display: inline-block;
          a{
            width: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px)  and (orientation: portrait){
    .top-bar{display: none;}
    .boatjumppage, .webdingspage, .eatbookingpage, .oasiscatamaranspage{
      margin-top: 0px;
      .cont-introduction{
        h2{
          margin-top: 50px;
        }
      }
    }
}

@media only screen and (max-width: 703px) { 
  #btn_plus{display:block;}
}/* fix repsponsive menu */

@media only screen and (max-width: 360px) { 
  #container_submenu_responsive .owl-carousel p{
    padding-bottom: 0px;
    min-height: 108px;
  }

  .owl-theme .owl-controls{
    margin-top: -50px;
    .owl-buttons div{
      background: white;
      color:$secondary-color;
      zoom:1.2;
      opacity: 0.9;
    }
    .owl-page span{background: white;}
  }
  .intro{
    .bg-background{position: relative;}
    .video-container-show h1{
      font-size: 1.7rem;
      margin-top: -20%;
    }
  }
}
@media only screen and (max-width: 320px) { 

  body{
    font-size: 120%;
  }
  .boatjumppage,
  .webdingspage,
  .eatbookingpage,
  .oasiscatamaranspage,
  .contactpage,
  .greetingspage{
     h2{
      font-size: 30px;
    }
    .cont-introduction{
      padding:2em;
      span{text-align: center;}
      p,a{font-size: 90%;}
    }

  }
  .intro{
    .video-container-show{
      lead{
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 30px;
        top:15%;
      }
      h1{
        font-size: 2.3rem;
        line-height: 40px;
        padding: 0em;
        margin: 0;
      }
    }
  }
  section{
    h2{
      font-size: 2.3rem;
      text-align: center;
    }
    &.webdings h3{font-size: 2rem;}
  }
}