/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  
  .home{
    .intro{
      .container{
        top:10%;
        padding: 1em;
         h1{font-size:3.3em; }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1.6em;
        }
      }
    }
    section{
      &.boatjump,&.webdings,&.eatbooking,&.oasis{
        .columns{
          .description{
            margin-top:-60px;
          }
          .image{
            top: -80px; 
            position: relative;
            height: 260px;
          }
        }
      }
    }
  } 

  #btn_plus{display:block;}
  .top-bar{display: none;}
  .intro .container{
    top:20%;
    lead{visibility: hidden;}
    h1{
      font-size: 2.4rem;
      line-height: 40px;
      padding: 1em;
    }
  }

  section{
    padding:2em 0em 2em 0em;
    h3{font-size: 3em;}
    h3,small,span,p,a{text-align: center;}
    h2{
      text-align: center;
      font-size: 3em;  
    }
    &.webdings{
      padding-top:6em;
      .image{padding-top: 0em;}
    }
    &.rockandror{
      img{max-width: 200px;}
    }
    &.participation {
      text-align: center;
      .header h3{
        text-align: center;
        font-size: 2rem;
      }
    }
    &.howweworks{
      .workflow{
        .arrow{
          display: none;
        }
        .block{
          width: 40%;
          float: none;
          margin: 0px auto;
          height: auto;
          svg#acceptance{ width: 26%; }
          svg#deployment{ width: 37%; }
        }
      }
    }   
  }
  .footer{ 
    padding-top: 1em;
    padding-bottom: 1em;
   .logo{width: 90%;}
  } 
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  
    
  // body{
  //   border:2px solid red;
  // }

  .home{
    .intro{
      .container{
        top:20%;
        padding: 1em;
         h1{font-size:2.3em; }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1em;
        }
      }
    }  

    section{
      h2{
        font-size: 2.3rem;
      }
      a{
        display: block;
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.9em;
      }
      
      &.rockandror{
        h3 {font-size: 1.2rem;}
        .inline-list li{
          padding: 0px;
        }
      }
      
      &.boatjump,&.webdings,&.eatbooking,&.oasis{
        .columns{
          .description{
            padding:3em;
          }
        }
      }

      &.boatjump,&.eatbooking{
        .columns{
          .image{
            right: 10px;
          }
        }
      }
      &.webdings,&.oasis{
        .columns{
          .image{
            left: 20px;
          }
        }
      }
      
      &.oasis{
         h2{
          font-size: 2.3em;
         }
      }

      .participation{
         .header{text-align: center;}
      }
    }  
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1072px) { 
  .oasis h2{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 767px) { 
  .top-bar{display: none;}

  .owl-wrapper-outer a{
    color:grey;
  }
  
  .contactpage{
    margin-top: 0px;
  }
  .boatjumppage, .webdingspage, .eatbookingpage, .oasiscatamaranspage{
    margin-top: 0px;
    .cont-introduction{
      h2{
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  
  .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    background-color: #555555;
    color: #fff;
    background: #00b0ea;
  }


  .top-bar{
    overflow: visible !important;
    .top-bar-section{

      .show-for-medium-up li{padding-left:0px !important;}
      .left{
        .has-dropdown:hover{
          .dropdown{
            display:block;  
          }  
        }
      }
      .left li {
        .dropdown{
          display:none;
          height: auto;
          width: auto;
          clip: auto !important;
          left: 0;
          background: white;
          top:43px;
          text-align: center;
          width: 170px;
          .back{display: none;}
          li{
            a{
              line-height: 4.6875rem;
              padding: 0 1.5625rem;
            }
          }
        }
      }
    }
  }
  
  .home{
    .intro{
      .container{
        top:40%;
        padding: 1em;
         h1{font-size:3.3em; }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1.6em;
        }
      }
    }
  } 
  .top-bar-section li.active:not(.has-form) a:not(.button){
    line-height: 0.6875rem;
    margin-top: 33px;
    padding: 0;
  }
  .top-bar-section .has-dropdown > a:after{
    display: none;
  }
  .top-bar{
    .top-bar-section{
      .has-dropdown.moved{
       .show-for-medium-up{
        width: 100%;
       }
      }
      .right{
        position: absolute;
        right: 0;
        width: 150px;
      }
      .show-for-medium-up{
        width: 400px;
        li{padding-left:1em;
          display: inline-block;
          a{
            width: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px)  and (orientation: portrait){

  .home{
    .intro{
      .container{
        top:10%;
        padding: 1em;
        h1{font-size:3.3em; }
        lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1.6em;
        }
      }
    }  
  }
  .top-bar{display: none;}
  .boatjumppage, .webdingspage, .eatbookingpage, .oasiscatamaranspage{
    margin-top: 0px;
    .cont-introduction{
      h2{
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 703px) { 
  #btn_plus{display:block;}
}/* fix repsponsive menu */

@media only screen and (max-width: 480px) { 

  .home {
    .intro{
      .container{
        top:20%;
        padding: 1em;
         h1{font-size:2.3em; }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1em;
        }
      }
    }  
    section{
      padding: 2em 0em;
      &.boatjump,&.webdings,&.eatbooking,&.oasis{
        span,small{font-size: 0.8em;}
        a{
          display: block;
          margin-bottom:5px;
          font-size: 0.9em;
        }
      }
      &.oasis{
        h2{
          font-size: 2.3rem;
        }
      }
      &.participation{
         .header h3{font-size: 2.3em;}
         .content{padding: 0px;}
      }
      &.howweworks{
        .workflow{display: none;}  
      }
    }
  }

  .boatjumppage, .webdingspage, .eatbookingpage, .oasiscatamaranspage,.contactpage{
    h1{
      font-size: 2.3em;
    }
    .cont-introduction{
      padding-top: 80px;
    }
    .brand-design,.back-end,.front-end,.app-mobile, .tecnology,.contact-now{
      padding: 1em 0em;
    }
  }
}

@media only screen and (max-width: 360px) { 
 
  .home {
    .intro{
      .container{
         h1{
          padding: 0px;
        }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1.3em;
        }
      }
    }  
  }

  #container_submenu_responsive .owl-carousel p{
    padding-bottom: 0px;
    min-height: 108px;
  }

  .owl-theme .owl-controls{
    margin-top: -50px;
    .owl-buttons div{
      background: white;
      color:$secondary-color;
      zoom:1.2;
      opacity: 0.9;
    }
    .owl-page span{background: white;}
  }
}

@media only screen and (max-width: 320px) { 
  
  .home {
    .intro{
      .container{
         h1{
          font-size: 2em;
        }
         lead{
          line-height: 1em;
          margin-top:10px;
          font-size: 1em;
        }
      }
    }  
    section{
      h2,h3{font-size: 2em;}
      &.howweworks{
        h3{font-size: 1.3em;}
        .text{
          padding: 1em; 
          ul{
            margin:0;
          }
        }
      }
    }
  }
  
  .boatjumppage,
  .webdingspage,
  .eatbookingpage,
  .oasiscatamaranspage,
  .contactpage,
  .greetingspage{
     h1{
      font-size: 30px;
    }
    .cont-introduction{
      padding:4em 1em;
      span{text-align: center;}
      p,a{font-size: 90%;}
    }
  }
}