//FOUNDATION 
.logo-smartphone{
  float:left;
  height: 24px;
  margin-top: 13px;
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  
  .top-bar{display: none;}
  #btn_plus{display:block;}
  .btn-menu{
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
     .icon-menu{
        margin-top: 16px;
        fill:$secondary-color;
     }
  }
  .btn-close-menu{
    background: $secondary-color;
   .icon-menu{
      margin-top: 16px;
   }
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  
  .top-contact,.btn-menu{display:none;}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  body{border:4px solid green;}
  .rockandror h3 {font-size: 1.2rem;}
  .rockandror .inline-list li{padding: 0em;}
  .top-contact{
    border:1px solid red;
    position: fixed;
    top: 0px;
    background: black;
  }
  .btn-menu{
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
     .icon-menu{
        margin-top: 16px;
        fill:$secondary-color;
     }
  }
  .btn-close-menu{
    background: $secondary-color;
   .icon-menu{
        margin-top: 16px;
     }
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 
    #btn_plus{display:none;}
  } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

//Mediaquery
// Large screens
@media only screen and (max-width: 1200px) { 
  .webdingspage .arrow{
    left: 5%;
    margin-left:0;
    bottom:10%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1072px) { 
  .oasis h2{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1072px) { 
  .webdingspage .arrow{display: none;}
  .webdingspage,.eatbookingpage,.oasiscatamaranspage,.contactpage, .greetingspage{
    text-align: center;
    .cont-introduction{ position: relative;}
  }
  .workflow{display: none;}
}

@media only screen and (max-width: 1023px) {  
  //.top-bar{display:none;}
}

@media only screen and (max-width: 1024px) {
  // .rockandror h3 {font-size: 1.2rem;}
  // .rockandror .inline-list li{padding: 0em;}
  // .top-contact{
  //   border:1px solid red;
  //   position: fixed;
  //   top: 0px;
  //   background: black;
  //   .logo-smartphone{
  //     float:left;
  //     border:1px solid red;
  //   }
  // }
  // .btn-menu{
  //   -webkit-transform: scale(0);
  //   transform: scale(0);
  //   -moz-transform:scale(0);
  //   -o-transform:scale(0);
  //    .icon-menu{
  //       margin-top: 16px;
  //       fill:$secondary-color;
  //    }
  // }
  // .btn-close-menu{
  //   background: $secondary-color;
  // 	.icon-menu{
  //       margin-top: 16px;
  //    }
  // }
} 

.animateRotateIcon{
  -webkit-animation:spin .3s ease-in;
  -moz-animation:spin .3s ease-in;
  -o-animation:spin .3s ease-in;
  animation:spin .3s ease-in ;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

/* Define mobile styles */
@media only screen and (max-width: 40em) {
  
  .intro .video-container-show lead{
    opacity: 0;
    transform: scale(20);
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -o-filter: blur(5px);
    // -ms-filter: blur(5px);
    // filter: blur(5px);

  }
  .fixed{
    background: #fff;
    #Livello_1{
      width: 100%;
      fill:$primary-color;
      margin-top: 10px;
    }
  }
  .intro .video-container-show h1{
    font-size: 2.4rem;
    line-height: 40px;
    padding: 1em;
  }
  
  .webdings,.eatbooking,.oasis{
    a{line-height: 4em;}
    @include padding(2em, 0em, 2em, 0em);
    h3{font-size: 3em;}
    h3,small,span,p,a{text-align: center;}
  }
  .webdings{
    padding-top:6em;
    .image{padding-top: 0em;}
  }
  .rockandror{
    img{max-width: 200px;}
  }
  .participation {
    text-align: center;
    .header h3{
      text-align: center;
      font-size: 2rem;
    }
  }
  .webdings a, .eatbooking a, .oasis a, .rockandror a, .cont-introduction a{
    display: block;
    margin-bottom: 1em;
  }
  .webdings h2, .eatbooking h2, .oasis h2, .rockandror h2, .cont-introduction h2{
    text-align: center;
    font-size: 3em;
  }
  .howweworks{
    .workflow{
      .arrow{display: none;}
      .block{
        width: 40%;float: none;margin: 0px auto;height: auto;
        svg#acceptance{ width: 26%; }
        svg#deployment{ width: 37%; }
      }
    }
  }   
  .footer{ 
    padding-top: 1em;
    padding-bottom: 1em;
   .logo{width: 90%;}
  } 
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .participation .header{text-align: center;}
  .webdings h2, .eatbooking h2, .oasis h2{ font-size: 2.3rem;}
  .webdings a, .eatbooking a, .oasis a{line-height: 3em;}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (max-width: 768px)  and (orientation: portrait){
  
  .top-contact{display:block;}
  .top-bar{display: none;}
  .btn-menu{
    display: block;
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
     .icon-menu{
        margin-top: 16px;
        fill:$secondary-color;
     }
  }
  .btn-close-menu{
    background: $secondary-color;
    .icon-menu{
      margin-top: 16px;
    }
  }
}
@media only screen and (min-width: 640px) and (max-width: 730px) { 
  .webdings,.eatbooking,.oasis{
    a{
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}
/*senen*/
@media only screen and (max-width: 764px) { 
 // .top-contact .logo-smartphone{
 //    height: 24px;
 //    margin-top: 13px;
 //  }
}

@media only screen and (max-width: 360px) { 
  // .top-contact .logo-smartphone{
  //   height: 24px;
  //   margin-top: 13px;
  // }
  .intro .bg-background{position: relative;}
  .intro .video-container-show h1{
    font-size: 1.7rem;
    margin-top: -20%;
  }
}
/*alle*/
@media only screen and (max-width: 320px) { 
  // .top-contact .logo-smartphone{
  //   height: 24px;
  //   margin-top: 13px;
  // }
  .intro .video-container-show lead{
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 30px;
  }
  .intro .video-container-show h1{
    font-size: 2.3rem;
    line-height: 40px;
    padding: 1em;
    margin-top: -20%;
  }
  .webdings h2, .eatbooking h2, .oasis h2{
    font-size: 2.3rem;
    text-align: center;
  }
  .webdings h3{font-size: 2rem;}
}