$primary-color:    #666;
$secondary-color:  #00b0ea;
$yellow:           #E7B01F;

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


@mixin col-max-320() {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin col-max-360() {
  @media (max-width: 360px) {
    @content;
  }
}
@mixin col-xs() {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin col-sm() {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin col-md() {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin col-lg() {
  @media (min-width: 1200px) {
    @content;
  }
}


@mixin text($color, $transform, $size, $align) {
  color: $color;
  text-transform: $transform;
  font-size: $size;
  text-align: $align;
}

@mixin btn-ror($border, $bg, $color, $isBorder, $bgHover) {
  a{
    margin-top: 1rem;
    border:2px solid $border;
    display: inline-block;
    padding: 0.9em;
    text-transform: uppercase;
    background: $bg;
    color:$color;

    &:hover{
      cursor: pointer;
      @if $isBorder == true {
        color: $bgHover;
        background: white;
      } else{
        color:$color;
        background: darken($border,10%);
      }

    }
  }
}

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}


.gradient-white{
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MiUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(242,242,242,1) 72%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(247,247,247,1)), color-stop(72%,rgba(242,242,242,1)), color-stop(100%,rgba(242,242,242,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 72%,rgba(242,242,242,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 72%,rgba(242,242,242,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 72%,rgba(242,242,242,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 72%,rgba(242,242,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 );
}
.gradient-boatjump{
  background: rgb(0,122,163); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,122,163,1) 0%, rgba(0,95,127,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,122,163,1) 0%,rgba(0,95,127,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,122,163,1) 0%,rgba(0,95,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aa3', endColorstr='#005f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient-oasis{
  background: rgb(27,51,64); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(27,51,64,1) 0%, rgba(49,92,115,1) 100%, rgba(27,51,64,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(27,51,64,1) 0%,rgba(49,92,115,1) 100%,rgba(27,51,64,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(27,51,64,1) 0%,rgba(49,92,115,1) 100%,rgba(27,51,64,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3340', endColorstr='#1b3340',GradientType=0 ); /* IE6-9 */
}
.pattern-eatbooking{
  background: image_url('pattern/eatbooking-pattern.png') repeat;
}

.hr-dark{border-color:#363636;}
.hr-light{border-color:#d6d6d6;}
.hr-oasis{border-color:#41687d;}
