

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.bg-grey-light{
  background: $gray-super-lighter;
}


@mixin col-max-320() {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin col-max-360() {
  @media (max-width: 360px) {
    @content;
  }
}
@mixin col-xs() {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin col-sm() {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin col-md() {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin col-lg() {
  @media (min-width: 1200px) {
    @content;
  }
}


@mixin text($color, $transform, $size, $align) {
  color: $color;
  text-transform: $transform;
  font-size: $size;
  text-align: $align;
}

@mixin btn-ror($border, $bg, $color, $isBorder, $bgHover) {
  a{
    margin-top: 1rem;
    border:2px solid $border;
    display: inline-block;
    padding: 0.9em;
    text-transform: uppercase;
    background: $bg;
    color:$color;

    &:hover{
      cursor: pointer;
      @if $isBorder == true {
        color: $bgHover;
        background: white;
      } else{
        color:$color;
        background: darken($border,10%);
      }

    }
  }
}

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}
