@mixin text($color, $transform, $size,$align) {
  color: $color; 
  text-transform: $transform;
  font-size: $size;
  text-align: $align;
}

@mixin btn-ror($border, $bg, $color) {
  a{
    border:1px solid $border;
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
    background: $bg; 
    color:$color;
    &:hover{
     color:$color;
     background: darken($bg,10%);
    }
  } 
}