.navbar{
  margin-bottom:0;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 0.8em;

  .navbar-header{
    margin-top: 15px;
    .navbar-brand{
      padding: 0;

      svg{
        max-height: 45px;
        &#logo{
          circle{
            stroke-width: 4px;
            stroke:$primary-color;
            fill:none;
            visibility: hidden;
          }
          #robot{
            visibility: hidden;
          }
        }
      }
    }
  }
  
  .left,
  .navbar-right{
    padding-top: 20px;
  }
  .left{
    padding-left: 30px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus{
    background: transparent;
    text-decoration: underline;
  }

  .navbar-nav{
    .dropdown{
      .dropdown-menu{
        margin-top: 1em;
        li a{
          padding: 1em;
        }
      }
    }
  }
}


.logo-smartphone{
  float:left;
  height: 24px;
  margin-top: 13px;
}

// .top-bar .top-bar-section .right li:not(.has-form) a:not(.button){
//   line-height: 3rem;
//   border: 1px solid #00b0ea;
//   margin-top: 15px;
// }

.top-contact{
  background: #333333;
  text-align: center;
  position: fixed;
  z-index: 9;
  .icon-nav{
    fill:white;
    margin: 0 auto;
    display: block;
    margin-top: 4px;
    width: 20px;
  }
  .tel,.email{
    padding: 0px;
    text-align: center;
    background: #2ECC71;
    height: 50px;
    a{
      display: block;
    }
  }
  .tel svg{margin-top:13px; }
  .email{
    background:#333;
    svg{margin-top:16px; }
  }
}

.top-bar{
  // position: fixed;
  width: 100%;
  // visibility: hidden;
  position: absolute;
  margin-top: -120px;
  z-index: 3;
  height: 100px;
  border-bottom:2px solid #f2f2f2;
  background: white;
  padding-left: 2em;
  padding-right: 2em;
  ul{
    padding-top: 1.2em;
  }
  .logo{
    text-align: left;
    max-height: 75px;
  }
  .logo-center{
    fill:$primary-color;
    margin: 0px auto;
    max-height: 90px;
    max-width:230px;
    margin-top: -10px;
  }
  .logo-horiz{
    width: 260px;
    fill:$primary-color;
    margin-top: 9px;
  }

  .top-bar-section{
    ul{
      li a{text-transform: uppercase;}
      li.active:not(.has-form) a:not(.button){
        color:$secondary-color;
      }
    }
    .right{
      strong{display: block;}
      a{
        font-weight: 300;
        cursor: pointer;
      }
      li:not(.has-form) a:not(.button){
        color:$secondary-color;
        padding: 0em .6em;
        border: 1px solid $secondary-color;
        text-align:center;
        &:hover{
          background: $secondary-color;
          color: #fff;
        }
      }
    }
  }
}
