ul li {
  &.logo {
    padding: 12px 0px;
    padding-left: 10px;
  }
}
svg {
  &#logo {
    fill: red;
    height: 100%;

    ellipse {
      stroke: $rockandror_color !important;
    }
    text {
      stroke: $rockandror_color !important;
      fill: $rockandror_color !important;
    }
    #robot {
      fill: $rockandror_color !important;
      fill: $rockandror_color !important;
    }
  }
}

#top-bar {
  z-index: 3;
  box-sizing: initial;

  .dropdown {
    border: 2px solid #f2f2f2;
    border-top: none;
  }

  .top-bar-section {
    ul {
      background: white;
    }
  }

  ul li a { text-transform: uppercase; }
}

#top-bar-wrapper {
  border-bottom: 2px solid #f2f2f2;
}
