.top-bar{
  &.expanded{
    z-index: 100069;
    text-align: center;
    .right{
      margin-top: 19%;
      background: rgba(0,0,0,.8);
      position: fixed;
      bottom: 0;
      top: 0px;
      li{
        margin-bottom: 2em;
      }
    }
  }
  .name{
    padding-top: 14px;
    img{float: left;}
    div{
      text-transform: uppercase;
      line-height: 11px;
      display:block;
      font-size: 1.3em;
      //float: right;
      margin-top:15px;
      margin-left: 10px; 
      span{
        line-height:0;
        font-size: 10px;
        letter-spacing: 11px;
        color:#a8568e;
        display: block;
        margin-top:12px; 
      }
    }
  } 
  .top-bar-section{
    ul{
      li{
        background: none;
        &:not(.has-form) a:not(.button){
          background: none;
          padding: 0 1rem;
        }
        &.active:not(.has-form) a:not(.button){
          background: none;
          padding-bottom: 15px;
          border-bottom:2px solid $primary-color;
          color:$primary-color;
          //padding-left: 5px;
          //padding-right: 5px;
        }
        &:not(.has-form) a:not(.button):hover{
          background: none;
          color:$primary-color;
        }
        &.active:not(.has-form) a:not(.button):hover{
          background: none;
        }
        a{
          display: inline;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
  } 
} 


// 02. Navbar/Header
// - - - - - - - - - - - - - - - - - - - - - - - - -
nav{
  transition: transform 200ms linear;
  background: white;
  .nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
  }
  .fa{color: $primary-color;
    &:hover{color:$secondary-color;}
  }
  .navbar-brand-primary{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    line-height: 50px;
    &:hover{
      background: none;
      color:white;
      text-shadow: 0px 0px 35px rgba(255, 255, 255, 0.7);
      text-decoration: none;
     }
  }
  #navbar{
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
     a{
      color:$primary-color;
      padding-top:25px;
      padding-bottom: 0px;
      line-height: 40px;
      &:hover,&:focus{
        background: none;
        font-weight: 700; 
      }
      &.active{
        font-weight: 700;
        color:#68527f;
      }
    }
  }
}
.navbar-inner{text-align:center;}
 