// @media(min-width:767px){
//   .team{
//     .person{ 
//        .inner{
//         height: 620px;
//        }
//     }
//   }  
// }
// @media(max-width:767px){
//   nav {
//     background: white;
//     img{
//       float: left;
//     }
//     .top-bar .name div{
//       float: left;
//       border: 2px solid red;
//     }

//     #navbar{ 
//       margin-top:0px;
//     }
//     .navbar-brand{
//       .logo{
//         width: 65px;
//         height: 42px;
//         background-position: -10px -45px; 
//       }
//     }
//     .team{
//       .person{ 
//          .inner{
//           height: 700px;
//          }
//       }
//     }
//   }
//   #home{
//     .intro{
//       border: 3px solid white;

//       height: 600px;
//       h2{font-size: 2em;}
//       .btn-primary{margin-top:20px;}
//     }
//     .about, .tecnology, .team{
//       padding-top: 3em;
//       padding-bottom: 3em;
//     }
//     .about{
//       text-align: center;
//       h2{
//         font-size: 3em;
//         margin-bottom: 30px;
//       }
//        .circle{
//         position: relative;
//         margin:0px auto;
//         width:23em;
//         height:23em;
//         &:after{border: none;}
//         span{
//           font-size:15px;
//           right:15%;
//           top:182px;
//           left: 10%;
//         }
//          .guz,.seb,.sen,.ale{
//           background-size: 744px;
//           height: 60px;
//           width: 60px;
//           margin-left:0px;
//           margin-top: 88px;
//          }
//          .guz{background-position: -43px -6px;}
//          .seb{background-position: -98px -6px;}
//          .sen{background-position: -159px -6px;}
//          .ale{background-position: -223px -6px;}
//       }
//     }  
//     .contactnow{
//        h2{font-size:3em;}
//     }
//     .contact{
//       .btn-primary{
//         display: block;
//         margin:0px auto; 
//       }
//     }
//   } 
// }
// @media(max-width:768px){
//   .about,.tecnology,.team{text-align: center;}
//   .about .text {
//     text-align: left;
//     font-size: 12px;
//   }
//   .intro h1{
//     padding-top: 120px;
//   }
// }

// @media(min-width:769px)and(max-width:980px){
//   .nav > li > a{padding: 6px;}
//   #home{
//     .intro{
//       h1{
//         font-size:3em;
//         letter-spacing:-2px; 
//         padding-top: 200px;
//       }
//       .btn-primary{margin-top:100px;}
//     }
//     .tecnology{
//       .logo{
//         margin-bottom: 30px;
//         margin-top: 50px;
//       }
//     }
//     .team{
//       .person{ 
//         .inner{height: 650px;}
//       }
//     }  
//   }
// }

// //Sony Experia L - alle 440 
// @media (min-height: 400px) and (max-height: 440px){
//   #home{  
//     .intro{
//       height: 440px;
//       h1{
//         font-size:3em;
//         letter-spacing:-2px; 
//         padding-top: 90px;
//       }
//       lead{margin-top: 30px;}
//     }
//   }
// }
// //Tecno Senen height 480
// @media (min-height: 441px) and (max-height: 480px){
//   #home{  
//     .intro{
//       height: 480px;
//       h1{
//         font-size:2em;
//         letter-spacing:-2px; 
//         padding-top: 90px;
//       }
//     }
//   }
// }
// //Tecno guzman + sebas height 511
// //Tecno Senen height 480
// @media (min-height: 481px) and (max-height: 511px){
//   #home{  
//     .intro{
//       height: 480px;
//       h1{
//         font-size:3em;
//         letter-spacing:-2px; 
//         padding-top: 90px;
//       }
//       lead{margin-top: 30px;}
//       .btn-primary{margin-top:60px;}
//     }
//   }
// }
// @media (max-width: 480px) {
//   .home{
//     .intro{
//       h1{
//         font-size: 3.7em;
//         letter-spacing: 0px;
//         padding-top: 90px;
//       }
//     }
//   }
//   .about{
//     .text{text-align: left;font-size: 12px;}
//     h2{text-align: left;}
//     h3{text-align: left;}
//   }
//   .tecnology{
//     .logo{
//       margin-bottom: 30px;
//       margin-top: 50px;
//     }
//   }
//   .cd-headline.slide .cd-words-wrapper{
//     text-align: center;
//   }
//   .contact{
//     h3{text-align: center;display: block;}
//   }
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
//   .nav > li > a{
//     padding: 9px;
//   }
//   #home .team .person .inner{
//     height: 670px;
//   }
// }

 
//  