section{
  &.page.team,
  &.page.open-source,
  &.page.best-tools,
  &.page.agile-development,
  &.page.startup,
  &.page.works,
  &.page.boatjump,
  &.page.taskscheduler,
  &.page.webdings,
  &.page.eatbooking,
  &.page.oasiscatamaran,
  &.page.contact,
  &.page.greetings,
  &.page.development-mallorca {

    padding-top: 5em;

    .row{
      margin-left: 0;
      margin-right: 0;
    }

    h2{
      text-transform: none;
      font-size: 1.6em;
      text-transform: uppercase;

      @include col-xs() {
        font-size: 1.3em;
      }
    }

    p{
      font-size: 1em;
      line-height: 1.6;
    }
  }


  &.startup,
  &.development-mallorca {

    .cont-introduction{
      padding:0;
      padding-top:1em;
      .curly-quotes strong{
        text-decoration: underline;
      }
    }

    h1{
     line-height: 1em;
    }

    h2{
     font-size:1.4375rem;
     text-transform: capitalize;
    }

    .button{
       margin-top:20px;
       background: $optin;
       font-weight: 600;
       text-transform: uppercase;
       &:hover{
         background: darken($optin,10%);
       }
     }

    blockquote, q {
      quotes: none;
      border:none;
      font-family: Georgia, serif;
      font-size: 19px;

      @include col-xs() {
        font-size: 1.1em;
      }

      &:before, &:after{
        content: '';
        content: none;
      }
    }

    .curly-quotes{
      &:after,
      &:before{
        display: inline-block;
        vertical-align: top;
        height: 30px;
        line-height: 48px;
        font-size: 50px;
        opacity: .6;
      }

      &:before{
        content: '\201C';
        margin-right: 4px;
        margin-left: -8px;
      }

      &:after {
        content: '\201D';
        margin-left: 4px;
        margin-right: -8px;
      }
    }

    .rails-project {
      img {
        width: 170px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      li{
        list-style: none;
        text-align: center;
      }
    }
  }
}
