// Table of Contents
//
// 00. Global Variables
// 01. Global styles
// 02. Navbar/Header
// 03. Footer
// 04. Forms
// 05. Alerts
// 06. Tables

// 00. Global Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

$sprite:url('sprite.svg');

// 01. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, html {
  margin: 0;
  padding: 0;
}

body{
  background: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(13);
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

section, nav {
    opacity: 1;
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition: opacity .6s;
}
 
//Block landscape mode
.no-landscape{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  height: 100%;
  overflow: hidden;
  display: none;
  &.gradient-radial{
    display: none;
  }
}
//hide show section on scroll
.hidden-section{opacity:0;}
.visible-section{opacity:1;}

//Hide show navbar
.headroom--unpinned {
  transform: translateY(-100%);
  #nav-close{
    opacity: 1;
    transform: translateY(100%);
  }
}
.headroom--pinned {
  transform: translateY(0%);
    #nav-close{
      opacity: 0;
    }
}
//Remove Firefox dotted 
.btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus{
outline: none;border:  none; box-shadow: none;} 
@-moz-document url-prefix() { 
  a {
    &:active, &:focus{
      outline: none;
      border:  none;
    }
  }
}

a,:after,.btn{
  transition: all 0.5s ease;
  border:none;
  &:hover,&:focus{
    text-decoration: none;
    outline: none;
    color: $link-color;
  }
}

.btn-primary{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color:#fff;
  &:hover{
    background: darken($link-color,3%);
    color: #fff;
  }
  &:focus{
    background: $brand-primary;
  }
  &:active{
    background: red;
  }
}

//Gradient background linear
.gradient{
  background: $brand-primary; /* Old browsers */
  background: -moz-linear-gradient(top,  $brand-primary 0%, lighten($brand-primary,10%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$brand-primary), color-stop(100%,lighten($brand-primary,10%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $brand-primary 0%,lighten($brand-primary,10%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $brand-primary 0%,lighten($brand-primary,10%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $brand-primary 0%,lighten($brand-primary,10%) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $brand-primary 0%,lighten($brand-primary,10%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-primary', endColorstr='lighten($brand-primary,10%)',GradientType=0 ); /* IE6-9 */
}
//Gradient backgorund radial
.gradient-radial{
  background: lighten($brand-primary,10%); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  lighten($brand-primary,10%) 0%, $brand-primary 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,lighten($brand-primary,10%)), color-stop(100%,$brand-primary)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  lighten($brand-primary,10%) 0%,$brand-primary 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  lighten($brand-primary,10%) 0%,$brand-primary 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  lighten($brand-primary,10%) 0%,$brand-primary 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  lighten($brand-primary,10%) 0%,$brand-primary 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($brand-primary,10%)', endColorstr='$brand-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
// 02. Navbar/Header
// - - - - - - - - - - - - - - - - - - - - - - - - -
nav{
  transition: transform 200ms linear;
  background: white;
  .nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
  }
  .fa{color: $brand-primary;
    &:hover{color:$link-color;}
  }
  .navbar-brand-primary{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    line-height: 50px;
    &:hover{
      background: none;
      color:white;
      text-shadow: 0px 0px 35px rgba(255, 255, 255, 0.7);
      text-decoration: none;
     }
  }
  #navbar{
    margin-top: 70px;
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
    li{width: 140px;}
    a{
      color:$brand-primary;
      &:hover,&:focus{
        background: none;
        color:#68527f;
      }
      &.active{
        font-weight: 700;
        color:#68527f;
      }
    }
  }
}
.navbar-inner{text-align:center;}
//Logo sprite XS
.logo{
  width: 105px;
  height: 102px;
  background: $sprite;
  display: block;
  background-position: -932px 122px; 
}

//Single logo svg for future animation
.logosvg{
  width: 105px;
  height: 102px;
  display: block;
  margin-top: -50px;
}
// 03. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 04. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 05. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -
.alert{
  margin-top:30px;
  margin-bottom:0px;
}
.alert-danger{color:#fff;}

// 06. Tables
// - - - - - - - - - - - - - - - - - - - - - - - - -
