// Table of Contents
//
// 01. Global styles
// 02. Navbar/Header
// 03. Footer
// 04. Forms
// 05. Alerts
// 06. Tables

// 01. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -
*, html {
  margin: 0;
  padding: 0;
}

body{
  padding-top: 50px;
  background: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(13);
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// 02. Navbar/Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 03. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 04. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 05. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -
.alert{
  margin-top: 20px;
}

// 06. Tables
// - - - - - - - - - - - - - - - - - - - - - - - - -