// Table of Contents

// 00. Global Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

#scroll_to_about,
#scroll_to_tecnology,
#scroll_to_howworks,
#scroll_to_portfolio,
#scroll_to_team,
#scroll_to_followus,
#scroll_to_contact
{
  opacity: 0;
}  

// 01. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, html {
  margin: 0;
  padding: 0;
}

body{
  background: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(13);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  overflow-x:hidden; 
}

section, nav {
    opacity: 1;
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition: opacity .6s;
}
 
//hide show section on scroll
.hidden-section{opacity:0;}
.visible-section{opacity:1;}
 

a,:after,.btn{
  transition: all 0.5s ease;
  border:none;
  &:hover,&:focus{
    text-decoration: none;
    outline: none;
    color: $secondary-color;
  }
}

// .btn-primary{
//   font-size: 2em;
//   text-transform: uppercase;
//   font-weight: 700;
//   color:#fff;
//   &:hover{
//     background: darken($secondary-color,3%);
//     color: #fff;
//   }
//   &:focus{
//     background: $primary-color;
//   }
//   &:active{
//     background: red;
//   }
// }

 
// 05. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -
.alert-box{
  position: absolute;
  width: 100%;
  z-index: 9;
  text-align: center;
  top: 76px;
   
}
.success{
  background:green;
  color:#fff;
}
.danger{
  background:red;
  color:#fff;
}