section{
  &.page.startup{

    .header-bg{
      @include radial-gradient(#f75e47, #da503b);
      padding: 3em 0;
      margin-bottom: 2em;
    }

    .failure-image{
      max-width: 300px;
    }
    .rails-logo{
      max-width: 200px;
    }
  }
}
