section{
  &.team,
  &.open-source,
  &.best-tools,
  &.agile-development,
  &.works{
    padding-top: 80px;
    text-transform: uppercase;

    .row-fluid{
      padding: 1.6rem;

      h1{
        font-weight: 700;
        line-height: 1;
        color: #fff;
      }
    }

    h2{
      text-transform: none;
      font-size: 1.6rem;
    }
  }
}
