section{
  &.page.webdings {

    .header-bg{
      @include radial-gradient($gray-light, $gray);
      padding: 3em 0;
      margin-bottom: 2em;
    }

    .logo{
      max-width: 200px;
      height: 100px;
      fill: #007aa3;
      margin-bottom: 1em;
    }
  }
}
