section{
  &.page.works{

		.header-bg{
      @include header-bg-content;
      @include radial-gradient(#a13644, #712630);
    }

		.gal-container{
			padding: 12px;

			a{
				cursor: pointer;
			}
			.gal-item{
				overflow: hidden;
				padding: 3px;

				.box{
					height: 350px;
					overflow: hidden;

					img{
						height: 100%;
						width: 100%;
						object-fit:cover;
						-o-object-fit:cover;
					}
				}

				&:after{
					transition: all 0.5s ease;
					content: "";
					font-family: 'Glyphicons Halflings';
					background-color: rgba(0, 0, 0, 0);
					position: absolute;
					right: 3px;
					left: 3px;
					top: 3px;
					bottom: 3px;
					text-align: center;
					line-height: 350px;
					font-size: 30px;
					color: #fff;
				}

				&:hover{
					&:after{
						content: "\e080";
						background-color: rgba(0, 0, 0, 0.75);
					}

					.name-customer {
						opacity: 1;
					}
				}

				.name-customer {
					position: absolute;
					z-index: 9;
					top: 15px;
					left: 15px;
					color: white;
					padding: 1em 2em;
					opacity: 0;
					font-size: 0.9em;

          @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
            opacity: 1;
            background: #000;
          }

				}
			}
		}
	}
}
